---
apiVersion: v1
kind: Service
metadata:
  name: clair
  namespace: {{ clair_namespace }}
  labels:
    k8s-app: clair
spec:
  selector:
    k8s-app: clair
  ports:
    - name: clair-api
      port: {{ clair_api_port }}
      protocol: TCP
    - name: clair-health
      protocol: TCP
      port: {{ clair_health_port }}
  type: NodePort
