---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "v0.2.4"
  creationTimestamp: null
  name: "clusterservicebrokers.servicecatalog.k8s.io"
  labels:
    svcat: "true"
spec:
  group: "servicecatalog.k8s.io"
  names:
    kind: "ClusterServiceBroker"
    listKind: "ClusterServiceBrokerList"
    plural: "clusterservicebrokers"
    singular: "clusterservicebroker"
    categories:
    - "all"
    - "svcat"
  additionalPrinterColumns:
  - name: "URL"
    type: "string"
    JSONPath: ".spec.url"
  - name: "Status"
    type: "string"
    JSONPath: ".status.lastConditionState"
  - name: "Age"
    type: "date"
    JSONPath: ".metadata.creationTimestamp"
  scope: "Cluster"
  validation:
    openAPIV3Schema:
      description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema"
      properties:
        apiVersion:
          description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.apiVersion"
          type: "string"
        kind:
          description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.kind"
          type: "string"
        metadata:
          description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.metadata"
          type: "object"
        spec:
          description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec"
          properties:
            authInfo:
              description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo"
              properties:
                basic:
                  description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo.properties.basic"
                  properties:
                    secretRef:
                      description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo.properties.basic.properties.secretRef"
                      properties:
                        name:
                          description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo.properties.basic.properties.secretRef.properties.name"
                          type: "string"
                        namespace:
                          description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo.properties.basic.properties.secretRef.properties.namespace"
                          type: "string"
                      type: "object"
                  type: "object"
                bearer:
                  description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo.properties.bearer"
                  properties:
                    secretRef:
                      description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo.properties.bearer.properties.secretRef"
                      properties:
                        name:
                          description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo.properties.bearer.properties.secretRef.properties.name"
                          type: "string"
                        namespace:
                          description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.authInfo.properties.bearer.properties.secretRef.properties.namespace"
                          type: "string"
                      type: "object"
                  type: "object"
              type: "object"
            caBundle:
              description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.caBundle"
              format: "byte"
              type: "string"
            catalogRestrictions:
              description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.catalogRestrictions"
              properties:
                serviceClass:
                  description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.catalogRestrictions.properties.serviceClass"
                  items:
                    type: "string"
                  type: "array"
                servicePlan:
                  description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.catalogRestrictions.properties.servicePlan"
                  items:
                    type: "string"
                  type: "array"
              type: "object"
            insecureSkipTLSVerify:
              description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.insecureSkipTLSVerify"
              type: "boolean"
            relistBehavior:
              description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.relistBehavior"
              enum:
              - "Duration"
              - "Manual"
              type: "string"
            relistDuration:
              description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.relistDuration"
              type: "string"
            relistRequests:
              description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.relistRequests"
              format: "int64"
              type: "integer"
            url:
              description: "%clusterservicebroker.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.url"
              type: "string"
          required:
          - "url"
          type: "object"
      type: "object"
  version: "v1beta1"
  versions:
  - name: "v1beta1"
    served: true
    storage: true
  subresources:
    status: {}
