# The SA for the controller-manager
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "service-catalog-controller-manager"
  namespace: "catalog"
---
# The SA for the webhook service
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "service-catalog-webhook"
  namespace: "catalog"
