[Unit]
Description=Flannel Network Overlay
Documentation=https://coreos.com/flannel/docs/latest

[Service]
EnvironmentFile=/etc/network-environment
ExecStart={{ bin_dir }}/flanneld \
       $FLANNEL_ETCD_PREFIX
Restart=on-failure

[Install]
WantedBy=multi-user.target
