# contiv etcd config
{% if inventory_hostname in groups['kube-master'] %}
export ETCD_DATA_DIR=/var/lib/etcd/contiv-data
{% set listen_ip = ip | default('0.0.0.0') %}
export ETCD_ADVERTISE_CLIENT_URLS=http://{{ listen_ip }}:6666
export ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ listen_ip }}:6667
export ETCD_LISTEN_PEER_URLS=http://{{ listen_ip }}:6667
export ETCD_LISTEN_CLIENT_URLS=http://{{ listen_ip }}:6666,http://127.0.0.1:6666
export ETCD_NAME=
{%- for host in groups['kube-master'] -%}
{%- if host == inventory_hostname -%}
contiv_etcd{{ loop.index }}
{%- endif %}
{%- endfor %}

{% else %}
export ETCD_LISTEN_CLIENT_URLS=http://127.0.0.1:6666
export ETCD_PROXY=on
{% endif %}
export ETCD_INITIAL_CLUSTER=
{%- for host in groups['kube-master'] -%}
contiv_etcd{{ loop.index }}=http://{{ hostvars[host]['ip'] | default(hostvars[host].ansible_default_ipv4['address']) }}:6667,
{%- endfor -%}
