# This ConfigMap is used to configure a self-hosted Contiv installation.
# It can be used with an external cluster store(etcd or consul) or used
# with the etcd instance being installed as contiv-etcd
kind: ConfigMap
apiVersion: v1
metadata:
  name: contiv-config
  namespace: kube-system
data:
  contiv_netmaster_loglevel: {{ contiv_netmaster_loglevel }}
  contiv_netplugin_loglevel: {{ contiv_netplugin_loglevel }}
  contiv_ovsdb_server_extra_flags: "--verbose={{ contiv_ovsdb_server_loglevel }}"
  contiv_ovs_vswitchd_extra_flags: "--verbose={{ contiv_ovs_vswitchd_loglevel }}"
  contiv_fwdmode: {{ contiv_fwd_mode }}
  contiv_netmode: {{ contiv_net_mode }}
  contiv_etcd: "http://127.0.0.1:{{ contiv_etcd_listen_port }}"
  contiv_cni_config: |-
    {
      "cniVersion": "{{ contiv_cni_version }}",
      "name": "contiv-net",
      "type": "contivk8s"
    }
  contiv_k8s_config: |-
    {
      "K8S_API_SERVER": "{{ kube_apiserver_endpoint_for_contiv }}",
      "K8S_CA": "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt",
      "K8S_KEY": "",
      "K8S_CERT": "",
      "K8S_TOKEN": "",
      "SVC_SUBNET": "{{ kube_service_addresses }}"
    }
