---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: contiv-etcd-proxy
  namespace: kube-system
  labels:
    k8s-app: contiv-etcd-proxy
spec:
  selector:
    matchLabels:
      k8s-app: contiv-etcd-proxy
  template:
    metadata:
      labels:
        k8s-app: contiv-etcd-proxy
    spec:
      priorityClassName: system-node-critical
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      hostPID: true
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: DoesNotExist
      containers:
        - name: contiv-etcd-proxy
          image: {{ contiv_etcd_image_repo }}:{{ contiv_etcd_image_tag }}
          env:
            - name: ETCD_LISTEN_CLIENT_URLS
              value: 'http://127.0.0.1:{{ contiv_etcd_listen_port }}'
            - name: ETCD_PROXY
              value: "on"
            - name: ETCD_INITIAL_CLUSTER
              value: '{{ contiv_etcd_endpoints }}'
