---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: contiv-cleanup
  namespace: kube-system
  labels:
    k8s-app: contiv-cleanup
spec:
  selector:
    matchLabels:
      k8s-app: contiv-cleanup
  template:
    metadata:
      labels:
        k8s-app: contiv-cleanup
    spec:
      priorityClassName: system-node-critical
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      hostPID: true
      tolerations:
        - operator: Exists
      serviceAccountName: contiv-netplugin
      containers:
      - name: contiv-ovs-cleanup
        image: {{ contiv_ovs_image_repo }}:{{ contiv_ovs_image_tag }}
        command: ["/opt/cni/bin/cleanup"]
        securityContext:
          privileged: true
        volumeMounts:
          - mountPath: /etc/openvswitch
            name: etc-openvswitch
            readOnly: false
          - mountPath: /var/run
            name: var-run
            readOnly: false
          - mountPath: /opt/cni/bin
            name: cni-bin-dir
            readOnly: false
        readinessProbe:
          exec:
            command:
            - cat
            - /tmp/cleanup.done
          initialDelaySeconds: 3
          periodSeconds: 3
          successThreshold: 1
      volumes:
        - name: etc-openvswitch
          hostPath:
            path: /etc/openvswitch
        - name: var-run
          hostPath:
            path: /var/run
        - name: cni-bin-dir
          hostPath:
            path: /opt/cni/bin
