# This YAML file contains secret objects,
# which are necessary to run external openstack cloud controller.

kind: Secret
apiVersion: v1
metadata:
  name: external-openstack-cloud-config
  namespace: kube-system
data:
  cloud.conf: {{ external_openstack_cloud_config_secret }}
{% if external_openstack_cacert_b64.content is defined %}
  ca.cert: {{ external_openstack_cacert_b64.content }}
{% endif %}
