{% for class in manila_storage_classes %}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "{{ class.name }}"
  annotations:
    storageclass.kubernetes.io/is-default-class: "{{ class.is_default | default(false) | ternary("true","false") }}"
provisioner: manila.csi.openstack.org
volumeBindingMode: "{{ class.volume_binding_mode | default('WaitForFirstConsumer') }}"
reclaimPolicy: "{{ class.reclaim_policy | default('Delete') }}"
parameters:
{% for key, value in (class.parameters | default({})).items() %}
  "{{ key }}": "{{ value }}"
{% endfor %}
allowVolumeExpansion: {{ expand_persistent_volumes | default(false) }}
{% endfor %}
