all:
    vars:
        heketi_admin_key: "11elfeinhundertundelf"
        heketi_user_key: "!!einseinseins"
    children:
        k8s-cluster:
            vars:
                kubelet_fail_swap_on: false
            children:
                kube-master:
                    hosts:
                        node1:
                etcd:
                    hosts:
                        node2:
                kube-node:
                    hosts: &kube_nodes
                        node1:
                        node2:
                        node3:
                        node4:
                heketi-node:
                    vars:
                        disk_volume_device_1: "/dev/vdb"
                    hosts:
                        <<: *kube_nodes
