apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: hypercloud5-system/hypercloud-single-operator-serving-cert
    controller-gen.kubebuilder.io/version: v0.3.0
  name: namespaceclaims.claim.tmax.io
spec:
  additionalPrinterColumns:
  - JSONPath: .resourceName
    name: ResourceName
    type: string
  - JSONPath: .status.status
    name: Status
    type: string
  - JSONPath: .status.reason
    name: Reason
    type: string
  group: claim.tmax.io
  names:
    kind: NamespaceClaim
    listKind: NamespaceClaimList
    plural: namespaceclaims
    shortNames:
    - nsc
    singular: namespaceclaim
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: NamespaceClaim is the Schema for the namespaceclaims API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        resourceName:
          description: namespaceName is name of the namespace which will be created
          type: string
        spec:
          description: Spec is ResourceQuotaSpec of NamespaceClaim
          properties:
            hard:
              additionalProperties:
                anyOf:
                - type: integer
                - type: string
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              description: 'hard is the set of desired hard limits for each named
                resource. "limits.cpu" and "limits.memory" must be required. More
                info: https://kubernetes.io/docs/concepts/policy/resource-quotas/'
              type: object
          required:
          - hard
          type: object
        status:
          description: Status shows the present status of the NamespaceClaim
          properties:
            lastTransitionTime:
              description: LastTransitionTime shows the time when the status changed
                in last
              format: date-time
              type: string
            message:
              description: Message shows log when the status changed in last
              type: string
            reason:
              description: Reason shows why the status changed in last
              type: string
            status:
              description: Status shows the present status of the NamespaceClaim
              enum:
              - Awaiting
              - Approved
              - Rejected
              - Error
              - Namespace Deleted
              type: string
          type: object
      required:
      - resourceName
      - spec
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: hypercloud5-system/hypercloud-single-operator-serving-cert
    controller-gen.kubebuilder.io/version: v0.3.0
  name: resourcequotaclaims.claim.tmax.io
spec:
  additionalPrinterColumns:
  - JSONPath: .resourceName
    name: ResourceName
    type: string
  - JSONPath: .status.status
    name: Status
    type: string
  - JSONPath: .status.reason
    name: Reason
    type: string
  group: claim.tmax.io
  names:
    kind: ResourceQuotaClaim
    listKind: ResourceQuotaClaimList
    plural: resourcequotaclaims
    shortNames:
    - rqc
    singular: resourcequotaclaim
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ResourceQuotaClaim is the Schema for the resourcequotaclaims API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        resourceName:
          description: resourcequotaName is name of the resource quota which will
            be created
          type: string
        spec:
          description: Spec is ResourceQuotaSpec of NamespaceClaim
          properties:
            hard:
              additionalProperties:
                anyOf:
                - type: integer
                - type: string
                pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                x-kubernetes-int-or-string: true
              description: 'hard is the set of desired hard limits for each named
                resource. "limits.cpu" and "limits.memory" must be required. More
                info: https://kubernetes.io/docs/concepts/policy/resource-quotas/'
              type: object
          required:
          - hard
          type: object
        status:
          description: Status shows the present status of the ResourceQuotaClaim
          properties:
            lastTransitionTime:
              description: LastTransitionTime shows the time when the status changed
                in last
              format: date-time
              type: string
            message:
              description: Message shows log when the status changed in last
              type: string
            reason:
              description: Reason shows why the status changed in last
              type: string
            status:
              description: Status shows the present status of the NamespaceClaim
              enum:
              - Awaiting
              - Approved
              - Rejected
              - Error
              - Resource Quota Deleted
              type: string
          type: object
      required:
      - resourceName
      - spec
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: rolebindingclaims.claim.tmax.io
spec:
  additionalPrinterColumns:
  - JSONPath: .resourceName
    name: ResourceName
    type: string
  - JSONPath: .status.status
    name: Status
    type: string
  - JSONPath: .status.reason
    name: Reason
    type: string
  group: claim.tmax.io
  names:
    kind: RoleBindingClaim
    listKind: RoleBindingClaimList
    plural: rolebindingclaims
    shortNames:
    - rbc
    singular: rolebindingclaim
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: RoleBindingClaim is the Schema for the rolebindingclaims API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        resourceName:
          description: rolebindingName is name of the role binding which will be created
          type: string
        roleRef:
          description: RoleRef contains information that points to the role being
            used
          properties:
            apiGroup:
              description: APIGroup is the group for the resource being referenced
              type: string
            kind:
              description: Kind is the type of resource being referenced
              type: string
            name:
              description: Name is the name of resource being referenced
              type: string
          required:
          - apiGroup
          - kind
          - name
          type: object
        status:
          description: Status shows the present status of the RoleBindingClaim
          properties:
            lastTransitionTime:
              description: LastTransitionTime shows the time when the status changed
                in last
              format: date-time
              type: string
            message:
              description: Message shows log when the status changed in last
              type: string
            reason:
              description: Reason shows why the status changed in last
              type: string
            status:
              description: Status shows the present status of the NamespaceClaim
              enum:
              - Awaiting
              - Approved
              - Rejected
              - Error
              - Role Binding Deleted
              type: string
          type: object
        subjects:
          description: Subjects contains a reference to the object or user identities
            a role binding applies to.  This can either hold a direct API object reference,
            or a value for non-objects such as user and group names.
          items:
            description: Subject contains a reference to the object or user identities
              a role binding applies to.  This can either hold a direct API object
              reference, or a value for non-objects such as user and group names.
            properties:
              apiGroup:
                description: APIGroup holds the API group of the referenced subject.
                  Defaults to "" for ServiceAccount subjects. Defaults to "rbac.authorization.k8s.io"
                  for User and Group subjects.
                type: string
              kind:
                description: Kind of object being referenced. Values defined by this
                  API group are "User", "Group", and "ServiceAccount". If the Authorizer
                  does not recognized the kind value, the Authorizer should report
                  an error.
                type: string
              name:
                description: Name of the object being referenced.
                type: string
              namespace:
                description: Namespace of the referenced object.  If the object kind
                  is non-namespace, such as "User" or "Group", and this value is not
                  empty the Authorizer should report an error.
                type: string
            required:
            - kind
            - name
            type: object
          type: array
      required:
      - resourceName
      - roleRef
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: hypercloud-single-operator-leader-election-role
  namespace: hypercloud5-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: hypercloud-single-operator-manager-role
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io.tmax.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io.tmax.io
  resources:
  - rolebindings/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: hypercloud-single-operator-proxy-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: hypercloud-single-operator-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: hypercloud-single-operator-leader-election-rolebinding
  namespace: hypercloud5-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: hypercloud-single-operator-leader-election-role
subjects:
- kind: ServiceAccount
  name: default
  namespace: hypercloud5-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: hypercloud-single-operator-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: hypercloud-single-operator-manager-role
subjects:
- kind: ServiceAccount
  name: default
  namespace: hypercloud5-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: hypercloud-single-operator-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: hypercloud-single-operator-proxy-role
subjects:
- kind: ServiceAccount
  name: default
  namespace: hypercloud5-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    hypercloud: single-operator
  name: hypercloud-single-operator-controller-manager-metrics-service
  namespace: hypercloud5-system
spec:
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    hypercloud: single-operator
---
apiVersion: v1
kind: Service
metadata:
  name: hypercloud-single-operator-webhook-service
  namespace: hypercloud5-system
spec:
  ports:
  - port: 443
    targetPort: 9443
  selector:
    hypercloud: single-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    hypercloud: single-operator
  name: hypercloud-single-operator-controller-manager
  namespace: hypercloud5-system
spec:
  replicas: 1
  selector:
    matchLabels:
      hypercloud: single-operator
  template:
    metadata:
      labels:
        hypercloud: single-operator
    spec:
      containers:
      - args:
        - --metrics-addr=127.0.0.1:8080
        - --enable-leader-election
        command:
        - /manager
        image: {{ hypercloud_single_operator_image_repo }}:b5.0.20.1
        name: manager
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 50Mi
          requests:
            cpu: 100m
            memory: 20Mi
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
        - mountPath: /logs
          name: operator-log-mnt
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=10
        image: {{ hypercloud_operator_proxy_image_repo }}:{{ hypercloud_operator_proxy_image_tag }}
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
      dnsPolicy: ClusterFirstWithHostNet
      terminationGracePeriodSeconds: 10
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Equal
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: hypercloud-single-operator-webhook-server-cert
      - name: operator-log-mnt
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: hypercloud-single-operator-serving-cert
  namespace: hypercloud5-system
spec:
  dnsNames:
  - hypercloud-single-operator-webhook-service.hypercloud5-system.svc
  - hypercloud-single-operator-webhook-service.hypercloud5-system.svc.cluster.local
  issuerRef:
    kind: Issuer
    name: hypercloud-single-operator-selfsigned-issuer
  secretName: hypercloud-single-operator-webhook-server-cert
---
apiVersion: cert-manager.io/v1alpha2
kind: Issuer
metadata:
  name: hypercloud-single-operator-selfsigned-issuer
  namespace: hypercloud5-system
spec:
  selfSigned: {}
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: hypercloud5-system/hypercloud-single-operator-serving-cert
  name: hypercloud-single-operator-validating-webhook-configuration
webhooks:
- clientConfig:
    caBundle: Cg==
    service:
      name: hypercloud-single-operator-webhook-service
      namespace: hypercloud5-system
      path: /validate-claim-tmax-io-v1alpha1-namespaceclaim
  failurePolicy: Fail
  name: vnamespaceclaim.kb.io
  rules:
  - apiGroups:
    - claim.tmax.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - namespaceclaims
    - namespaceclaims/status
- clientConfig:
    caBundle: Cg==
    service:
      name: hypercloud-single-operator-webhook-service
      namespace: hypercloud5-system
      path: /validate-claim-tmax-io-v1alpha1-resourcequotaclaim
  failurePolicy: Fail
  name: vresourcequotaclaim.kb.io
  rules:
  - apiGroups:
    - claim.tmax.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - resourcequotaclaims
    - resourcequotaclaims/status
- clientConfig:
    caBundle: Cg==
    service:
      name: hypercloud-single-operator-webhook-service
      namespace: hypercloud5-system
      path: /validate-claim-tmax-io-v1alpha1-rolebindingclaim
  failurePolicy: Fail
  name: vrolebindingclaim.kb.io
  rules:
  - apiGroups:
    - claim.tmax.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - rolebindingclaims/status
