[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = {{ ansible_hostname }}
DNS.3 = {{ inventory_hostname }}
IP.1 = 127.0.0.1
IP.2 = {{ access_ip | default(ansible_default_ipv4['address']) }}
IP.3 = {{ ip | default(ansible_default_ipv4['address']) }}
