{% set counter = {'dns': 2,'ip': 1,} %}{% macro increment(dct, key, inc=1)%}{% if dct.update({key: dct[key] + inc}) %} {% endif %}{% endmacro %}[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost
DNS.{{ counter["dns"] }} = {{ ansible_hostname }}{{ increment(counter, 'dns') }}
IP.{{ counter["ip"] }} = {{ ansible_default_ipv4.address }}{{ increment(counter, 'ip') }}
IP.{{ counter["ip"] }} = 127.0.0.1  
