---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: alb-ingress
  namespace: {{ alb_ingress_controller_namespace }}
rules:
  - apiGroups: ["", "extensions"]
    resources: ["configmaps", "endpoints", "nodes", "pods", "secrets", "events", "ingresses", "ingresses/status", "services"]
    verbs: ["list", "create", "get", "update", "watch", "patch"]
  - apiGroups: ["", "extensions"]
    resources: ["nodes", "pods", "secrets", "services", "namespaces"]
    verbs: ["get", "list", "watch"]