apiVersion: v1
kind: Config
clusters:
- cluster:
     certificate-authority-data: ${HYPERCLOUD5_CA_CERT}
     server: https://hypercloud5-api-server-service.hypercloud5-system.svc/audit
  name: audit-webhook-service
contexts:
- context:
    cluster: audit-webhook-service
  name: audit-webhook-context
current-context: audit-webhook-context
