
node1 ansible_ssh_host=172.17.8.101  ansible_become=yes ansible_become_user=root ansible_ssh_user=vagrant ansible_ssh_private_key_file=~/.vagrant.d/insecure_private_key ansible_ssh_extra_args="-o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
node2 ansible_ssh_host=172.17.8.102 ansible_become=yes ansible_become_user=root ansible_ssh_user=vagrant ansible_ssh_private_key_file=~/.vagrant.d/insecure_private_key ansible_ssh_extra_args="-o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
node3 ansible_ssh_host=172.17.8.103 ansible_become=yes ansible_become_user=root ansible_ssh_user=vagrant ansible_ssh_private_key_file=~/.vagrant.d/insecure_private_key ansible_ssh_extra_args="-o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"

[kube-master]
node1
node2

[kube-node]
node1
node2
node3

[etcd]
node1
node2
node3

[vault]
node1
node2

[k8s-cluster:children]
kube-node
kube-master
calico-rr

[calico-rr]
