node1 ansible_ssh_host={{gce.instance_data[0].public_ip}}
node2 ansible_ssh_host={{gce.instance_data[1].public_ip}}
node3 ansible_ssh_host={{gce.instance_data[2].public_ip}}

{% if mode == "separate" %}
[kube-master]
node1

[kube-node]
node2

[etcd]
node3
{% else %}
[kube-master]
node1
node2

[kube-node]
node1
node2
node3

[etcd]
node1
node2
{% endif %}

[k8s-cluster:children]
kube-node
kube-master
