node1 ansible_ssh_host={{gce.instance_data[0].public_ip}}
node2 ansible_ssh_host={{gce.instance_data[1].public_ip}}
{% if mode is defined and mode in ["separate", "ha"] %}
node3 ansible_ssh_host={{gce.instance_data[2].public_ip}}
{% endif %}

{% if mode is defined and mode == "separate" %}
[kube-master]
node1

[kube-node]
node2

[etcd]
node3

[vault]
node3
{% elif mode is defined and mode == "ha" %}
[kube-master]
node1
node2

[kube-node]
node3

[etcd]
node2
node3

[vault]
node2
node3
{% else %}
[kube-master]
node1

[kube-node]
node2

[etcd]
node1

[vault]
node1
{% endif %}

[k8s-cluster:children]
kube-node
kube-master
