{% set node1 = gce.instance_data[0].name %}
{{node1}} ansible_ssh_host={{gce.instance_data[0].public_ip}}
{% if mode != "aio" %}
{% set node2 = gce.instance_data[1].name %}
{{node2}} ansible_ssh_host={{gce.instance_data[1].public_ip}}
{% endif %}
{% if mode is defined and mode in ["ha", "ha-scale", "separate", "separate-scale"] %}
{% set node3 = gce.instance_data[2].name %}
{{node3}} ansible_ssh_host={{gce.instance_data[2].public_ip}}
{% endif %}
{% if mode is defined and mode in ["separate", "separate-scale"] %}
[kube-master]
{{node1}}

[kube-node]
{{node2}}

[etcd]
{{node3}}

[vault]
{{node3}}
{% elif mode is defined and mode in ["ha", "ha-scale"] %}
[kube-master]
{{node1}}
{{node2}}

[kube-node]
{{node3}}

[etcd]
{{node1}}
{{node2}}
{{node3}}

[vault]
{{node1}}
{{node2}}
{{node3}}

[broken_kube-master]
{{node2}}

[etcd]
{{node2}}
{{node3}}
{% elif mode == "default" %}
[kube-master]
{{node1}}

[kube-node]
{{node2}}

[etcd]
{{node1}}

[vault]
{{node1}}
{% elif mode == "aio" %}
[kube-master]
{{node1}}

[kube-node]
{{node1}}

[etcd]
{{node1}}

[vault]
{{node1}}
{% endif %}

[k8s-cluster:children]
kube-node
kube-master
calico-rr

[calico-rr]

{% if mode is defined and mode in ["scale", "separate-scale", "ha-scale"] %}
[fake_hosts]
fake_scale_host[1:200]

[kube-node:children]
fake_hosts
{% endif %}
