node1 ansible_ssh_host={{ec2.instances[0].public_ip}} ansible_ssh_user={{ssh_user}}
node2 ansible_ssh_host={{ec2.instances[1].public_ip}} ansible_ssh_user={{ssh_user}}
node3 ansible_ssh_host={{ec2.instances[2].public_ip}} ansible_ssh_user={{ssh_user}}

[kube-master]
node1
node2

[kube-node]
node1
node2
node3

[etcd]
node1
node2

[vault]
node1
node2

[k8s-cluster:children]
kube-node
kube-master
calico-rr

[calico-rr]

[broken_kube-master]
node2

[broken_etcd]
node2
