---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.0
  creationTimestamp: null
  name: consoles.hypercloud.tmaxcloud.com
spec:
  group: hypercloud.tmaxcloud.com
  names:
    kind: Console
    listKind: ConsoleList
    plural: consoles
    singular: console
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.number
      name: READY
      type: integer
    - jsonPath: .status.routers
      name: ROUTERS
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Console is the Schema for the consoles API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ConsoleSpec defines the desired state of Console
            properties:
              configuration:
                description: 'INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
                  Important: Run "make" to regenerate code after modifying this file'
                properties:
                  routers:
                    additionalProperties:
                      description: Router holds the router configuration.
                      properties:
                        path:
                          type: string
                        rule:
                          type: string
                        server:
                          description: Middlewares []string `json:"middlewares,omitempty"
                            toml:"middlewares,omitempty" yaml:"middlewares,omitempty"
                            export:"true"`
                          type: string
                      type: object
                    type: object
                type: object
            required:
            - configuration
            type: object
          status:
            description: ConsoleStatus defines the observed state of Console
            properties:
              number:
                description: Status
                type: integer
              routers:
                type: string
            required:
            - number
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []

---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: consoleyamlsamples.console.tmax.io
spec:
  conversion:
    strategy: None
  group: console.tmax.io
  names:
    kind: ConsoleYAMLSample
    listKind: ConsoleYAMLSampleList
    plural: consoleyamlsamples
    singular: consoleyamlsample
  preserveUnknownFields: false
  scope: Cluster
  validation:
    openAPIV3Schema:
      description: >-
        ConsoleYAMLSample is an extension for customizing HyperCloud web console
        YAML samples.
      properties:
        apiVersion:
          description: >-
            APIVersion defines the versioned schema of this representation of an
            object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info:
            https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
          type: string
        kind:
          description: >-
            Kind is a string value representing the REST resource this object
            represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info:
            https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
          type: string
        metadata:
          type: object
        spec:
          description: >-
            ConsoleYAMLSampleSpec is the desired YAML sample configuration.
            Samples will appear with their descriptions in a samples sidebar
            when creating a resources in the web console.
          properties:
            description:
              description: description of the YAML sample.
              pattern: ^(.|\s)*\S(.|\s)*$
              type: string
            snippet:
              description: >-
                snippet indicates that the YAML sample is not the full YAML
                resource definition, but a fragment that can be inserted into
                the existing YAML document at the user's cursor.
              type: boolean
            targetResource:
              description: >-
                targetResource contains apiVersion and kind of the resource YAML
                sample is representating.
              properties:
                apiVersion:
                  description: >-
                    APIVersion defines the versioned schema of this
                    representation of an object. Servers should convert
                    recognized schemas to the latest internal value, and may
                    reject unrecognized values. More info:
                    https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
                  type: string
                kind:
                  description: >-
                    Kind is a string value representing the REST resource this
                    object represents. Servers may infer this from the endpoint
                    the client submits requests to. Cannot be updated. In
                    CamelCase. More info:
                    https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                  type: string
              type: object
            title:
              description: title of the YAML sample.
              pattern: ^(.|\s)*\S(.|\s)*$
              type: string
            yaml:
              description: yaml is the YAML sample to display.
              pattern: ^(.|\s)*\S(.|\s)*$
              type: string
          required:
            - description
            - targetResource
            - title
            - yaml
          type: object
      required:
        - metadata
        - spec
      type: object
  version: v1
  versions:
    - name: v1
      served: true
      storage: true
