apiVersion: batch/v1
kind: Job
metadata:
  name: console-https-secret-create
  namespace: console-system
spec:
  template:
    metadata:
      name: console-https-secret-create
    spec:
      containers:
        - name: create
          image: {{ console_certgen_image_repo }}:{{ console_certgen_image_tag }}
          imagePullPolicy: IfNotPresent
          args:
            - create
            - --host=console,console.$(POD_NAMESPACE).svc,console.{{ custom_domain_name }}
            - --namespace=$(POD_NAMESPACE)
            - --secret-name=console-https-secret
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
      restartPolicy: OnFailure
      serviceAccountName: console-system-admin
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
