---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: console-ingress
  namespace: console-system
  annotations:
    kubernetes.io/ingress.class: "nginx-shd"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  rules:
    - host: console.{{ custom_domain_name }}
      http:
        paths:
          - backend:
              service:
                name: console-np
                port:
                  number: 433
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - console.{{ custom_domain_name }}
      secretName: console-https-secret