#!/bin/bash
# {{ ansible_managed }}
# example invocation: etcdctl.sh get --keys-only --from-key ""

etcdctl \
  --cacert {{ kube_cert_dir }}/etcd/ca.crt \
  --cert {{ kube_cert_dir }}/etcd/server.crt \
  --key {{ kube_cert_dir }}/etcd/server.key "$@"
