## External LB example config
apiserver_loadbalancer_domain_name: {{ lb_pubip.dnsSettings.fqdn }}
loadbalancer_apiserver:
  address: {{ lb_pubip.ipAddress }}
  port: 6443

## Internal loadbalancers for apiservers
loadbalancer_apiserver_localhost: false
