[submodule "roles/k8s-common"]
	path = roles/k8s-common
	url = https://github.com/ansibl8s/k8s-common.git
[submodule "roles/k8s-fabric8"]
	path = roles/k8s-fabric8
	url = https://github.com/ansibl8s/k8s-fabric8.git
[submodule "roles/k8s-kube-ui"]
	path = roles/k8s-kube-ui
	url = https://github.com/ansibl8s/k8s-kube-ui.git
