[submodule "roles/k8s-common"]
	path = roles/k8s-common
	url = git@github.com:ansibl8s/k8s-common.git
[submodule "roles/k8s-fabric8"]
	path = roles/k8s-fabric8
	url = git@github.com:ansibl8s/k8s-fabric8.git
