[submodule "roles/k8s-common"]
    path = roles/k8s-common
    url = https://github.com/ansibl8s/k8s-common.git
[submodule "roles/k8s-fabric8"]
    path = roles/k8s-fabric8
    url = https://github.com/ansibl8s/k8s-fabric8.git
[submodule "roles/k8s-kube-ui"]
    path = roles/k8s-kube-ui
    url = https://github.com/ansibl8s/k8s-kube-ui.git
    branch = v1.0
[submodule "roles/k8s-skydns"]
    path = roles/k8s-skydns
    url = https://github.com/ansibl8s/k8s-skydns.git
    branch = v1.0
