ansible==11.13.0
# Needed for community.crypto module
cryptography==46.0.5
# Needed for jinja2 json_query templating
jmespath==1.1.0
# Needed for ansible.utils.ipaddr
netaddr==1.3.0
# Needed for encrypt hash
passlib==1.7.4
# Prevented passlib version conflicts
bcrypt<5
