ansible==14.4.0
# Needed for community.crypto module
cryptography==50.0.1
# Needed for jinja2 json_query templating
jmespath==1.1.0
# Needed for ansible.utils.ipaddr
netaddr==1.3.0
# Needed for community.general.to_toml filter
tomlkit==0.15.1
