---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ local_path_provisioner_storage_class }}
  annotations:
    storageclass.kubernetes.io/is-default-class: "{{ local_path_provisioner_is_default_storageclass }}"
provisioner: rancher.io/local-path
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: {{ local_path_provisioner_reclaim_policy }}
