
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: clusterregistrysecuritypolicies.tmax.io
spec:
  group: tmax.io
  names:
    kind: ClusterRegistrySecurityPolicy
    listKind: ClusterRegistrySecurityPolicyList
    plural: clusterregistrysecuritypolicies
    shortNames:
    - crsp
    singular: clusterregistrysecuritypolicy
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: ClusterRegistrySecurityPolicy contains the list of valid registry
          in a cluster
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ClusterRegistrySecurityPolicySpec is a spec of ClusterRegistrySecurityPolicy
            properties:
              registries:
                description: Registries are the list of registries allowed in the
                  cluster
                items:
                  description: RegistrySpec is a spec of Registries
                  properties:
                    notary:
                      description: Notary is URL of registry's notary server
                      type: string
                    registry:
                      description: Registry is URL of target registry
                      type: string
                    signcheck:
                      description: SignCheck is a flag to decide to check sign data
                        or not. If it is set false, sign check is skipped
                      type: boolean
                  required:
                  - registry
                  - signcheck
                  type: object
                type: array
            required:
            - registries
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
