apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-validation-admission
  namespace: {{ image_validating_webhook_namespace }}
  labels:
    name: image-validation-admission
spec:
  replicas: 1
  selector:
    matchLabels:
      app: image-validation-admission
  template:
    metadata:
      labels:
        app: image-validation-admission
    spec:
      containers:
        - name: webhook
          image: {{ image_validating_webhook_image }}
          imagePullPolicy: Always
      serviceAccountName: {{ image_validating_webhook_SA_name }}
