apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: image-validation-webhook-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ image_validating_webhook_role_name }}
subjects:
- kind: ServiceAccount
  name: {{ image_validating_webhook_SA_name }}
  namespace: {{ image_validating_webhook_namespace }}