apiVersion: v1
kind: ConfigMap
metadata:
  name: image-validation-webhook-whitelist
  namespace: {{ image_validating_webhook_namespace }}
data:
  whitelist-images: |-
    tmaxcloudck/image-validation-webhook
    registry:2.7.1
    tmaxcloudck/notary_mysql:0.6.2-rc2
    tmaxcloudck/notary_server:0.6.2-rc1
    tmaxcloudck/notary_signer:0.6.2-rc1
  whitelist-namespaces: |-
    capa-system
    capi-kubeadm-bootstrap-system
    capi-kubeadm-control-plane-system
    capi-system
    capi-webhook-system
    catalog
    ceph-csi
    cert-manager
    cluster-tsb-ns
    console-system
    default
    hypercloud5-system
    ingress-nginx
    ingress-nginx-shared
    istio-system
    istio-test
    kube-federation-system
    kube-logging
    kube-node-lease
    kube-public
    kube-system
    metallb-system
    monitoring
    registry-system
    template
    tsb-ns
    tsb-test
    olm
    operators
    tekton-pipelines
    scheduled-scaler-operator-system
    cicd-system
    tfapplyclaim
    hyperauth
    gitlab-system
