#!/bin/bash
{{ docker_bin_dir }}/docker run --rm \
  --net=host \
  --name=helm \
  {% if http_proxy %}
  -e HTTP_PROXY={{ http_proxy }} \
  {% endif %}
  {% if https_proxy %}
  -e HTTPS_PROXY={{ https_proxy }} \
  {% endif %}
  {% if no_proxy %}
  -e NO_PROXY={{ no_proxy }} \
  {% endif %}
  -v /etc/ssl:/etc/ssl:ro \
  -v {{ helm_home_dir }}:{{ helm_home_dir }}:rw \
  {% for dir in ssl_ca_dirs -%}
  -v {{ dir }}:{{ dir }}:ro \
  {% endfor -%}
  {{ helm_image_repo }}:{{ helm_image_tag}} \
  "$@"
