#!/bin/bash
{{ docker_bin_dir }}/docker run --rm \
  --net=host \
  --name=helm \
  -v /etc/ssl:/etc/ssl:ro \
  -v {{ helm_home_dir }}:{{ helm_home_dir }}:rw \
  {% for dir in ssl_ca_dirs -%}
  -v {{ dir }}:{{ dir }}:ro \
  {% endfor -%}
  {{ helm_image_repo }}:{{ helm_image_tag}} \
  "$@"
