apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: nfd-worker
  name: nfd-worker
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: nfd-worker
  template:
    metadata:
      labels:
        app: nfd-worker
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          image: "{{ nfd_image_repo }}:{{ nfd_image_tag }}"
          name: nfd-worker
          command:
            - "nfd-worker"
          args:
            - "--sleep-interval=60s"
{% if nfd_use_custom_certs %}
            - "--ca-file=/etc/kubernetes/node-feature-discovery/trust/ca.crt"
            - "--key-file=/etc/kubernetes/node-feature-discovery/certs/tls.key"
            - "--cert-file=/etc/kubernetes/node-feature-discovery/certs/tls.crt"
{% endif %}
          volumeMounts:
            - name: host-boot
              mountPath: "/host-boot"
              readOnly: true
            - name: host-os-release
              mountPath: "/host-etc/os-release"
              readOnly: true
            - name: host-sys
              mountPath: "/host-sys"
            - name: source-d
              mountPath: "/etc/kubernetes/node-feature-discovery/source.d/"
            - name: features-d
              mountPath: "/etc/kubernetes/node-feature-discovery/features.d/"
{% if nfd_use_custom_certs %}
            - name: nfd-ca-cert
              mountPath: "/etc/kubernetes/node-feature-discovery/trust"
              readOnly: true
            - name: nfd-worker-cert
              mountPath: "/etc/kubernetes/node-feature-discovery/certs"
              readOnly: true
{% endif %}
      volumes:
        - name: host-boot
          hostPath:
            path: "/boot"
        - name: host-os-release
          hostPath:
            path: "/etc/os-release"
        - name: host-sys
          hostPath:
            path: "/sys"
        - name: source-d
          hostPath:
            path: "/etc/kubernetes/node-feature-discovery/source.d/"
        - name: features-d
          hostPath:
            path: "/etc/kubernetes/node-feature-discovery/features.d/"
{% if nfd_use_custom_certs %}
        - name: nfd-ca-cert
          configMap:
            name: nfd-ca-cert
        - name: nfd-worker-cert
          secret:
            secretName: nfd-worker-cert
{% endif %}
