apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: node-feature-discovery-worker
  namespace: {{ node_feature_discovery_namespace }}
rules:
- apiGroups:
  - nfd.k8s-sigs.io
  resources:
  - nodefeatures
  verbs:
  - create
  - get
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
