apiVersion: v1
kind: ConfigMap
metadata:
  name: node-feature-discovery-master-conf
  namespace: {{ node_feature_discovery_namespace }}
data:
{% if node_feature_discovery_master_config %}
  nfd-master.conf: |-
    {{ node_feature_discovery_master_config | to_yaml(indent=2, width=1337) | indent(width=4) }}
{% else %}
  nfd-master.conf: "null"
{% endif %}
