apiVersion: v1
kind: Config
clusters:
- cluster:
    server: {{ audit_webhook_server_url }}
  name: auditsink
contexts:
- context:
    cluster: auditsink
    user: ""
  name: default-context
current-context: default-context
preferences: {}
users: []
