#!/bin/bash
# /etc/kubernetes included in case kubeconfig and/or certs used
/usr/bin/docker run --rm --net=host \
-v /etc/kubernetes:/etc/kubernetes:ro \
{{ hyperkube_image_repo }}:{{ hyperkube_image_tag }} \
/hyperkube kubectl \
$@
