apiVersion: kubeadm.k8s.io/v1beta1
kind: JoinConfiguration
discovery:
  bootstrapToken:
{% if kubeadm_config_api_fqdn is defined %}
    apiServerEndpoint: {{ kubeadm_config_api_fqdn }}:{{ loadbalancer_apiserver.port | default(kube_apiserver_port) }}
{% else %}
    apiServerEndpoint: {{ kubeadm_discovery_address }}
{% endif %}
    token: {{ kubeadm_token }}
    unsafeSkipCAVerification: true
  timeout: {{ discovery_timeout }}
  tlsBootstrapToken: {{ kubeadm_token }}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ kube_apiserver_address }}
    bindPort: {{ kube_apiserver_port }}
nodeRegistration:
  name: {{ kube_override_hostname|default(inventory_hostname) }}
  criSocket: {{ cri_socket }}
