kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
    - secrets
    providers:
    - {{ encryption_algorithm }}:
        keys:
        - name: key
          secret: {{ encrypt_token }}
    - identity: {}
