# clusters refers to the remote service.
clusters:
- name: webhook-token-auth-cluster
  cluster:
    server: {{ kube_webhook_token_auth_url }}

# users refers to the API server's webhook configuration.
users:
- name: webhook-token-auth-user

# kubeconfig files require a context. Provide one for the API server.
current-context: webhook-token-auth
contexts:
- context:
    cluster: webhook-token-auth-cluster
    user: webhook-token-auth-user
  name: webhook-token-auth
