---
apiVersion: v1
kind: ConfigMap
metadata:
  name: local-volume-provisioner
  namespace: {{ local_volume_provisioner_namespace }}
data:
{% if local_volume_provisioner_nodelabels | length > 0 %}
  nodeLabelsForPV: |
{% for nodelabel in local_volume_provisioner_nodelabels %}
    - {{ nodelabel }}
{% endfor %}
{% endif %}
{% if local_volume_provisioner_use_node_name_only %}
  useNodeNameOnly: "true"
{% endif %}
  storageClassMap: |
{% for class_name, storage_class in local_volume_provisioner_storage_classes.items() %}
    {{ class_name }}:
      {{ storage_class | to_nice_yaml(indent=2) | indent(6) }}
{%- endfor %}
