---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: local-volume-provisioner-system-persistent-volume-provisioner
  namespace: {{ local_volume_provisioner_namespace }}
subjects:
  - kind: ServiceAccount
    name: local-volume-provisioner
    namespace: {{ local_volume_provisioner_namespace }}
roleRef:
  kind: ClusterRole
  name: system:persistent-volume-provisioner
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: local-volume-provisioner-system-node
  namespace: {{ local_volume_provisioner_namespace }}
subjects:
  - kind: ServiceAccount
    name: local-volume-provisioner
    namespace: {{ local_volume_provisioner_namespace }}
roleRef:
  kind: ClusterRole
  name: system:node
  apiGroup: rbac.authorization.k8s.io
