{% for class_name in local_volume_provisioner_storage_classes.keys() %}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ class_name }}
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
{% endfor %}
