---
apiVersion: v1
kind: ConfigMap
metadata:
  name: local-volume-provisioner
  namespace: {{ local_volume_provisioner_namespace }}
data:
  storageClassMap: |
    {{ local_volume_provisioner_storage_class }}:
      hostDir: {{ local_volume_provisioner_base_dir }}
      mountDir: {{ local_volume_provisioner_mount_dir }}
