[all]
node1    ansible_ssh_host=192.168.1.231 ansible_ssh_user=root ip=192.168.1.231
node2    ansible_ssh_host=192.168.1.232 ansible_ssh_user=root ip=192.168.1.232
node3    ansible_ssh_host=192.168.1.233 ansible_ssh_user=root ip=192.168.1.233
node4    ansible_ssh_host=192.168.1.234 ansible_ssh_user=root ip=192.168.1.234
node5    ansible_ssh_host=192.168.1.235 ansible_ssh_user=root ip=192.168.1.235
node6    ansible_ssh_host=192.168.1.236 ansible_ssh_user=root ip=192.168.1.236


[kube-master]
node1
node2

[kube-node]
node1
node2
node3

[etcd]
node4
node5
node6

[k8s-cluster:children]
kube-node
kube-master
