# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
node1 ansible_ssh_host=10.9.134.197  # ip=10.3.0.1
node2 ansible_ssh_host=10.9.118.128  # ip=10.3.0.2
node3 ansible_ssh_host=10.9.81.191  # ip=10.3.0.3
node4 ansible_ssh_host=10.9.158.71  # ip=10.3.0.4

# ## configure a bastion host if your nodes are not directly reachable
# bastion ansible_ssh_host=x.x.x.x

[kube-master]
10.9.134.197

[etcd]
node1

[kube-node]
10.9.118.128 

[k8s-cluster:children]
kube-node
kube-master