#jinja2: lstrip_blocks: "True"
[Service]
Environment="DOCKER_OPTS={{ docker_options | default('') }} \
--iptables=false"
{% if ansible_os_family == "RedHat"%}
  {% if systemd_version.stdout|int >= 226 %}
TasksMax=infinity
  {% endif %}
  {% if not enable_docker_repo %}
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=1min
Restart=on-abnormal
  {% endif %}
{% endif %}
