# Deployed by Ansible
{% if (ansible_service_mgr in ["sysvinit","upstart"] and ansible_os_family == "Debian") %}
DOCKER_OPTS="{% if docker_options is defined %}{{ docker_options }}{% endif %}"
{% else %}
OPTIONS="{% if docker_options is defined %}{{ docker_options }}{% endif %}"
{% endif %}

{% if (ansible_service_mgr in ["sysvinit","upstart"] and ansible_os_family == "Debian") %}
{% if http_proxy %}
export HTTP_PROXY="{{ http_proxy }}"
{% endif %}
{% if https_proxy %}
export HTTPS_PROXY="{{ https_proxy }}"
{% endif %}
{% if no_proxy %}
export NO_PROXY="{{ no_proxy }}"
{% endif %}
{% endif %}