[Unit]
Description=etcd
After=network.target

[Service]
Type=notify
User=etcd
EnvironmentFile=/etc/etcd.env
ExecStart={{ bin_dir }}/etcd
NotifyAccess=all
Restart=always
RestartSec=10s
LimitNOFILE=40000
OnStartupSec={{ etcd_start_delay }}
OnBootSec={{ etcd_start_delay }}

[Install]
WantedBy=multi-user.target
