[Unit]
Description=etcd-proxy rkt wrapper
Documentation=http://kargo.kubespray.io
Requires=network-online.target
After=network-online.target

[Service]
ExecStart={{ bin_dir }}/rkt run {{ etcd_image_repo }}:{{ etcd_image_tag }} \
--set-env-file=/etc/etcd-proxy.env \
--net=host \
--volume=certs,kind=host,source=/usr/share/ca-certificates/,readOnly=true \
--mount=volume=certs,target=/etc/ssl/certs \
--exec {{ etcd_container_bin_dir }}/etcd
ExecStopPost={{ bin_dir }}/rkt gc --mark-only
KillMode=mixed
Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target
