[Unit]
Description=etcd
After=network.target

[Service]
Type=notify
User=root
EnvironmentFile=/etc/etcd.env
ExecStart={{ bin_dir }}/etcd
NotifyAccess=all
Restart=always
RestartSec=10s
LimitNOFILE=40000
{% if etcd_io_scheduling_class is defined %}
IOSchedulingClass={{ etcd_io_scheduling_class }}
{% endif %}
{% if etcd_io_scheduling_priority is defined %}
IOSchedulingPriority={{ etcd_io_scheduling_priority }}
{% endif %}

[Install]
WantedBy=multi-user.target
