[Unit]
Description=etcd
After=network.target

[Service]
Type=notify
User=root
EnvironmentFile=/etc/etcd-events.env
ExecStart={{ bin_dir }}/etcd
NotifyAccess=all
Restart=always
RestartSec=10s
LimitNOFILE=40000
IOSchedulingClass={{ etcd_io_scheduling_class }}
IOSchedulingPriority={{ etcd_io_scheduling_priority }}

[Install]
WantedBy=multi-user.target
