#!/bin/bash
{{ docker_bin_dir }}/docker run \
  --restart=on-failure:5 \
  --env-file=/etc/etcd-events.env \
  --net=host \
  -v /etc/ssl/certs:/etc/ssl/certs:ro \
  -v {{ etcd_cert_dir }}:{{ etcd_cert_dir }}:ro \
  -v {{ etcd_events_data_dir }}:{{ etcd_events_data_dir }}:rw \
  {% if etcd_memory_limit is defined %}
  --memory={{ etcd_memory_limit|regex_replace('Mi', 'M') }} \
  {% endif %}
  {% if etcd_cpu_limit is defined %}
  --cpu-shares={{ etcd_cpu_limit|regex_replace('m', '') }} \
  {% endif %}
  {% if etcd_blkio_weight is defined %}
  --blkio-weight={{ etcd_blkio_weight }} \
  {% endif %}
  --name={{ etcd_member_name }}-events \
  {{ etcd_image_repo }}:{{ etcd_image_tag }} \
  /usr/local/bin/etcd \
  "$@"
