-r ../requirements.txt
ansible-lint==24.9.2
apache-libcloud==3.8.0
ara[server]==1.7.2
dopy==0.3.7
molecule==24.9.0
molecule-plugins[vagrant]==23.5.3
pytest-testinfra==10.1.1
python-vagrant==1.0.0
tox==4.20.0
tzdata==2024.2
yamllint==1.35.1
