-r ../requirements.txt
ansible-lint==24.5.0
apache-libcloud==3.8.0
ara[server]==1.7.1
dopy==0.3.7
molecule==24.2.1
molecule-plugins[vagrant]==23.5.3
python-vagrant==1.0.0
pytest-testinfra==10.1.0
tox==4.15.0
yamllint==1.35.1
tzdata==2024.1
