-r ../requirements-2.12.txt
ansible-lint==5.4.0
apache-libcloud==2.2.1
ara[server]==1.6.1
dopy==0.3.7
molecule==3.0.6
molecule-vagrant==0.3
python-vagrant==0.5.15
testinfra==5.2.2
tox==3.11.1
yamllint==1.19.0
