-r ../requirements-2.9.txt
yamllint==1.19.0
apache-libcloud==2.2.1
tox==3.11.1
dopy==0.3.7
cryptography==2.8
ansible-lint==5.0.11 ; python_version >= '3.0'
ansible-lint==4.2.0 ; python_version < '3.0'
openshift==0.8.8
molecule==3.0.6 ; python_version >= '3.0'
molecule==3.0.2 ; python_version < '3.0'
molecule-vagrant==0.3
testinfra==5.2.2 ; python_version >= '3.0'
testinfra==3.4.0 ; python_version < '3.0'
python-vagrant==0.5.15
