#cloud-config
users:
- name: {{ user.name  }}
  gecos: {{ user.comment }}
  system: {{ user.system|bool }}
  no-log-init: {{ user.system|bool }}
  primary-group: {{ user.group }}
  no-create-home: {{ not user.createhome|bool }}
  homedir: {{ user.home }}
  shell: {{ user.shell }}
  groups: |
    {% for g in user.groups.split(',') %}
    - {{ g }}
    {% endfor %}
    #
