all:
  hosts:
{% for name, ip in vm_ip_map.items() %}
    {{ name }}:
      ansible_host: {{ ip }}
      ansible_user: {{ instance_user }}
      ansible_private_key_file: {{ instance_private_key_file }}
      ansible_python_interpreter: /usr/bin/python3
{% endfor %}
  children:
    etcd:
      hosts:
{% for name in etcd_nodes %}
        {{ name }}:
{% endfor %}
    kube_control_plane:
      hosts:
{% for name in control_plane_nodes %}
        {{ name }}:
{% endfor %}
    kube_node:
      hosts:
{% for name in worker_nodes %}
        {{ name }}:
{% endfor %}
