vmType: {{ vm_type }}

arch: {{ arch }}

images:
{{ images[os] | to_nice_yaml(indent=2) }}

cpus: {{ cpus }}
memory: {{ memory }}
disk: {{ disk }}
{% if mounts | length > 0 %}
mounts:
{{ mounts | to_nice_yaml(indent=2) }}
{% endif %}

containerd:
  user: false

user:
  name: {{ instance_user }}

networks:
  - lima: shared
