---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-nginx
  namespace: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
{% if ingress_nginx_configmap %}
data:
  {{ ingress_nginx_configmap | to_nice_yaml | indent(2) }}
{%- endif %}
