---
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-default-backend
  namespace: {{ ingress_nginx_namespace }}
  labels:
    k8s-app: ingress-nginx-default-backend
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    k8s-app: ingress-nginx-default-backend
