apiVersion: batch/v1
kind: Job
metadata:
  name: {{ ingress_nginx_name }}-admission-create
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
  labels:
    app.kubernetes.io/name: {{ ingress_nginx_name }}
    app.kubernetes.io/instance: {{ ingress_nginx_name }}
    app.kubernetes.io/component: admission-webhook
  namespace: {{ ingress_nginx_name }}
spec:
  template:
    metadata:
      name: {{ ingress_nginx_name }}-admission-create
      labels:
        app.kubernetes.io/name: {{ ingress_nginx_name }}
        app.kubernetes.io/instance: {{ ingress_nginx_name }}
        app.kubernetes.io/component: admission-webhook
    spec:
      containers:
        - name: create
          image: {{ ingress_nginx_certgen_image }}
          imagePullPolicy: IfNotPresent
          args:
            - create
            - --host={{ ingress_nginx_name }}-controller-admission,{{ ingress_nginx_name }}-controller-admission.{{ ingress_nginx_name }}.svc
            - --namespace={{ ingress_nginx_name }}
            - --secret-name={{ ingress_nginx_name }}-admission
      restartPolicy: OnFailure
      serviceAccountName: {{ ingress_nginx_name }}-admission
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ ingress_nginx_name }}-admission-patch
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
  labels:
    app.kubernetes.io/name: {{ ingress_nginx_name }}
    app.kubernetes.io/instance: {{ ingress_nginx_name }}
    app.kubernetes.io/component: admission-webhook
  namespace: {{ ingress_nginx_name }}
spec:
  template:
    metadata:
      name: {{ ingress_nginx_name }}-admission-patch
      labels:
        app.kubernetes.io/name: {{ ingress_nginx_name }}
        app.kubernetes.io/instance: {{ ingress_nginx_name }}
        app.kubernetes.io/component: admission-webhook
    spec:
      containers:
        - name: patch
          image: {{ ingress_nginx_certgen_image }}
          imagePullPolicy: IfNotPresent
          args:
            - patch
            - --webhook-name={{ ingress_nginx_name }}-admission
            - --namespace={{ ingress_nginx_name }}
            - --patch-mutating=false
            - --secret-name={{ ingress_nginx_name }}-admission
            - --patch-failure-policy=Fail
      restartPolicy: OnFailure
      serviceAccountName: {{ ingress_nginx_name }}-admission
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000