apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/name: {{ ingress_nginx_name }}
    app.kubernetes.io/instance: {{ ingress_nginx_name }}
    app.kubernetes.io/component: controller
  name: {{ ingress_nginx_name }}
  namespace: {{ ingress_nginx_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ ingress_nginx_name }}
subjects:
  - kind: ServiceAccount
    name: {{ ingress_nginx_name }}
    namespace: {{ ingress_nginx_name }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ ingress_nginx_name }}-admission
  annotations:
    helm.sh/hook: pre-install,pre-upgrade,post-install,post-upgrade
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
  labels:
    app.kubernetes.io/name: {{ ingress_nginx_name }}
    app.kubernetes.io/instance: {{ ingress_nginx_name }}
    app.kubernetes.io/component: admission-webhook
  namespace: {{ ingress_nginx_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ ingress_nginx_name }}-admission
subjects:
  - kind: ServiceAccount
    name: {{ ingress_nginx_name }}-admission
    namespace: {{ ingress_nginx_name }}