---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: coredns-etcd
  name: coredns-etcd
spec:
  containers:
  - command:
    - /usr/local/bin/etcd
    - --name
    - coredns-etcd
    - --initial-advertise-peer-urls
    - http://coredns-etcd:2380
    - --listen-peer-urls
    - http://0.0.0.0:2380
    - --listen-client-urls
    - http://0.0.0.0:2379
    - --advertise-client-urls
    - http://coredns-etcd:2379
    - --initial-cluster
    - coredns-etcd=http://127.0.0.1:2380
    - --initial-cluster-state
    - new
    image: {{ etcd_image_repo }}:{{ etcd_image_tag }}
    name: coredns-etcd
    ports:
    - containerPort: 2379
      name: client
      protocol: TCP
    - containerPort: 2380
      name: server
      protocol: TCP
  restartPolicy: Always
