apiVersion: v1
data:
  "csi-migration": "false"
{% if external_vsphere_version >= "7.0" %}
  "csi-auth-check": "true"
{% else %}
  "csi-auth-check": "false"
{% endif %}
  "online-volume-extend": "true"
  "trigger-csi-fullsync": "false"
  "async-query-volume": "true"
  "improved-csi-idempotency": "true"
  "improved-volume-topology": "true"
  "block-volume-snapshot": "{{ vsphere_csi_block_volume_snapshot }}"
  "csi-windows-support": "false"
{% if vsphere_csi_controller is version('v2.5.0', '>=') %}
  "use-csinode-id": "true"
  "pv-to-backingdiskobjectid-mapping": "false"
  "cnsmgr-suspend-create-volume": "false"
{% endif %}
kind: ConfigMap
metadata:
  name: internal-feature-states.csi.vsphere.vmware.com
  namespace: "{{ vsphere_csi_namespace }}"
