apiVersion: v1
kind: Service
metadata:
  name: vsphere-csi-controller
  namespace: "{{ vsphere_csi_namespace }}"
  labels:
    app: vsphere-csi-controller
spec:
  ports:
    - name: ctlr
      port: 2112
      targetPort: 2112
      protocol: TCP
    - name: syncer
      port: 2113
      targetPort: 2113
      protocol: TCP
  selector:
    app: vsphere-csi-controller
