# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
# node1 ansible_ssh_host=95.54.0.12  # ip=10.3.0.1
# node2 ansible_ssh_host=95.54.0.13  # ip=10.3.0.2
# node3 ansible_ssh_host=95.54.0.14  # ip=10.3.0.3
# node4 ansible_ssh_host=95.54.0.15  # ip=10.3.0.4
# node5 ansible_ssh_host=95.54.0.16  # ip=10.3.0.5
# node6 ansible_ssh_host=95.54.0.17  # ip=10.3.0.6
#
# ## GlusterFS nodes
# ## Set disk_volume_device_1 to desired device for gluster brick, if different to /dev/vdb (default).
# ## As in the previous case, you can set ip to give direct communication on internal IPs
# gfs_node1 ansible_ssh_host=95.54.0.18 # disk_volume_device_1=/dev/vdc  ip=10.3.0.7
# gfs_node2 ansible_ssh_host=95.54.0.19 # disk_volume_device_1=/dev/vdc  ip=10.3.0.8 
# gfs_node3 ansible_ssh_host=95.54.0.20 # disk_volume_device_1=/dev/vdc  ip=10.3.0.9 

# [kube_control_plane]
# node1
# node2

# [etcd]
# node1
# node2
# node3

# [kube-node]
# node2
# node3
# node4
# node5
# node6

# [k8s-cluster:children]
# kube-node
# kube_control_plane

# [gfs-cluster]
# gfs_node1
# gfs_node2
# gfs_node3

# [network-storage:children]
# gfs-cluster

