---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gluster
  annotations:
    storageclass.beta.kubernetes.io/is-default-class: "true"
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://{{ endpoint_address }}:8080"
  restuser: "admin"
  restuserkey: "{{ heketi_admin_key }}"
