---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gluster
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://{{ endpoint_address }}:8080"
  restuser: "user"
  restuserkey: "{{ heketi_user_key }}"
