[Unit]
Description=Certificates rotation service for Kubernetes
Documentation=https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#manual-certificate-renewal

[Service]
Type=simple
ExecStart=/bin/bash -c "kubeadm alpha certs renew {apiserver-kubelet-client,apiserver,controller-manager.conf,front-proxy-client,scheduler.conf}"
