DISTROS=(debian centos)
EXTRAS=(
  'kube_network_plugin=calico {}'
  'kube_network_plugin=canal {}'
  'kube_network_plugin=cilium {}'
  'kube_network_plugin=flannel {}'
  'kube_network_plugin=weave {}'
)
