DISTROS=(debian centos)
NETCHECKER_HOST=${NODES[0]}
EXTRAS=(
  'kube_network_plugin=kube-router {"kube_router_run_service_proxy":false}'
  'kube_network_plugin=kube-router {"kube_router_run_service_proxy":true}'
)
