[Unit]
Description={{etcd_name}}
After=network.target

[Service]
Type=notify
User=root
EnvironmentFile=/etc/etcd/{{etcd_name}}.env
ExecStart={{ bin_dir }}/etcd/etcd --config-file=/etc/etcd/{{etcd_name}}-conf.yaml
NotifyAccess=all
Restart=always
TimeoutStartSec=60s
RestartSec=15s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
