---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/part-of: traefik
data:
{% if traefik_ingress_tls_chain | default(False) and traefik_ingress_tls_key | default(False) %}
  tls.toml: |
    [[tls.certificates]]
      certFile = "/tls-secret/tls.crt"
      keyFile = "/tls-secret/tls.key"
      stores = ["default"]
    [tls.stores]
      [tls.stores.default]
        [tls.stores.default.defaultCertificate]
          certFile = "/tls-secret/tls.crt"
          keyFile = "/tls-secret/tls.key"
{% else %}
  tls.toml: ""
{% endif %}
