---
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/part-of: traefik
{% if traefik_configmap %}
data:
  {{ traefik_configmap | to_nice_yaml | indent(2) }}
{%- endif %}
