---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: ingress-traefik
  annotations:
    seccomp.security.alpha.kubernetes.io/defaultProfileName:  'runtime/default'
    seccomp.security.alpha.kubernetes.io/allowedProfileNames: 'runtime/default'
{% if apparmor_enabled %}
    apparmor.security.beta.kubernetes.io/defaultProfileName:  'runtime/default'
    apparmor.security.beta.kubernetes.io/allowedProfileNames: 'runtime/default'
{% endif %}
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  allowPrivilegeEscalation: true
  allowedCapabilities:
  - NET_BIND_SERVICE
  forbiddenSysctls:
  - '*'
  hostNetwork: {{ traefik_host_network|bool }}
  hostPorts:
  - min: 0
    max: 65535
  hostIPC: false
  hostPID: false
  fsGroup:
    rule: RunAsAny
  privileged: true
  runAsUser:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  volumes:
  - configMap
  - emptyDir
  - projected
  - secret
  - downwardAPI
  - persistentVolumeClaim
