---
apiVersion: v1
kind: Secret
metadata:
  name: traefik-default-tls
  namespace: {{ traefik_namespace }}
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/part-of: traefik
stringData:
  tls.crt: |
    {{ traefik_ingress_tls_chain | indent(4) }}
  tls.key: |
    {{ traefik_ingress_tls_key | indent(4) }}
type: kubernetes.io/tls
