apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: {{ efk_namespace }}
  labels:
    app: kibana
spec:
  type: {{ efk_kibana_service_type }}
  ports:
  - port: 5601
    targetPort: 5601
  selector:
    app: kibana

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: {{ efk_namespace }}
  labels:
    app: kibana
spec:
  replicas: {{ efk_kibana_replicas }}
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: {{ efk_kibana_image_repo }}:{{ efk_kibana_image_tag }}
        resources:
          limits:
            cpu: 300m
            memory: 500Mi
          requests:
            cpu: 50m
            memory: 50Mi
        env:
          - name: ELASTICSEARCH_URL
            value: http://{{ efk_es_svc_name }}.{{ efk_namespace }}.svc.cluster.local:9200
        ports:
        - containerPort: 5601
        volumeMounts:
        - mountPath: /usr/share/kibana/config/kibana.yml
          name: config
          subPath: kibana.yml
      volumes:
      - name: config
        configMap:
          name: kibana-config

---

apiVersion: v1
data:
  kibana.yml: |
    server.name: kibana
    server.host: "0"
    server.basePath: "/api/kibana"
    server.rewriteBasePath: true
    elasticsearch.hosts: [ "http://{{ efk_es_svc_name }}:9200" ]
    elasticsearch.requestTimeout: "100000ms"
kind: ConfigMap
metadata:
  name: kibana-config
  namespace: {{ efk_namespace }}
