apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: {{ efk_namespace }}
  labels:
    app: kibana
spec:
  type: {{ efk_kibana_service_type }}
  ports:
  - port: 5601
    targetPort: 5601
  selector:
    app: kibana

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: {{ efk_namespace }}
  labels:
    app: kibana
spec:
  replicas: {{ efk_kibana_replicas }}
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: {{ efk_kibana_image }}
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
        env:
          - name: ELASTICSEARCH_URL
            value: http://elasticsearch.{{ efk_namespace }}.svc.cluster.local:9200
        ports:
        - containerPort: 5601

