#!/bin/bash
hyperauthserver={{ efk_hyperauth_url }}
hyperauthrealm={{ efk_hyperauth_realm }}

#Get Admin Token
token=$(curl -X POST 'http://'$hyperauthserver':8080/auth/realms/master/protocol/openid-connect/token' \
 -H "Content-Type: application/x-www-form-urlencoded" \
 -d "username=admin" \
 -d 'password=admin' \
 -d 'grant_type=password' \
 -d 'client_id=admin-cli' | jq -r '.access_token')

clientid=$(curl -i -X GET \
   -H "Authorization:Bearer $token" \
 'http://'$hyperauthserver':8080/auth/admin/realms/'$hyperauthrealm'/clients?clientId=kibana' | grep id | cut -f 2 -d ':' | cut -f 2 -d '"' | sed 's/"/ /g')

clientsecret=$(curl -X POST \
   -H "Authorization:Bearer $token" \
 'http://'$hyperauthserver':8080/auth/admin/realms/'$hyperauthrealm'/clients/'$clientid'/client-secret' | grep value | cut -f 3 -d ':' | cut -f 1 -d '}' | sed 's/"/ /g')

echo $clientsecret