{
    "cniVersion": "0.3.0",
    "name": "weave",
      "plugins": [
        {
            "name": "weave",
            "type": "weave-net",
            "hairpinMode": {{ weave_hairpin_mode | bool | lower }}
        },
        {
            "type": "portmap",
            "capabilities": {"portMappings": true},
            "snat": true
        }
    ]
}
