[Unit]
Documentation=http://docs.weave.works/
Wants=docker.service docker.socket weave.service
After=docker.service docker.socket weave.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
EnvironmentFile=-/etc/weave.%H.env
EnvironmentFile=-/etc/weave.env
ExecStart={{ bin_dir }}/weave expose
ExecStop={{ bin_dir }}/weave hide

[Install]
WantedBy=weave-network.target
