{
    "cloud":"AzurePublicCloud",
    "tenantId": "{{ azure_csi_tenant_id }}",
    "subscriptionId": "{{ azure_csi_subscription_id }}",
    "aadClientId": "{{ azure_csi_aad_client_id }}",
    "aadClientSecret": "{{ azure_csi_aad_client_secret }}",
    "location": "{{ azure_csi_location }}",
    "resourceGroup": "{{ azure_csi_resource_group }}",
    "vnetName": "{{ azure_csi_vnet_name }}",
    "vnetResourceGroup": "{{ azure_csi_vnet_resource_group }}",
    "subnetName": "{{ azure_csi_subnet_name }}",
    "securityGroupName": "{{ azure_csi_security_group_name }}",
    "useInstanceMetadata": {{ azure_csi_use_instance_metadata }},
}
