apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kube-state-metrics
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: kube-state-metrics
    spec:
      containers:
      - name: kube-state-metrics
        image: "{{ kube_state_metrics_image_repo }}:{{ kube_state_metrics_image_tag }}"
        ports:
        - name: metrics
          containerPort: 8080
        resources:
          requests:
            memory: {{ kube_state_metrics_mem_requests }}
            cpu: {{ kube_state_metrics_cpu_requests }}
          limits:
            memory: {{ kube_state_metrics_mem_limit }}
            cpu: {{ kube_state_metrics_cpu_limit }}
