apiVersion: "monitoring.coreos.com/v1alpha1"
kind: "Alertmanager"
metadata:
  name: "main"
  labels:
    alertmanager: "main"
spec:
  replicas: {{ alertmanager_replicas }}
  version: {{ alertmanager_image_tag }}
  baseImage: {{ alertmanager_image_repo }}
