apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    prometheus: k8s
  name: k8s
  namespace: {{ prometheus_namespace }}
spec:
  alerting:
    alertmanagers:
    - name: alertmanager-main
      namespace: {{ prometheus_namespace }}
      port: web
  baseImage: {{ prometheus_image_repo }}
  nodeSelector:
    beta.kubernetes.io/os: linux
  replicas: 2
  resources:
    requests:
      memory: 400Mi
  ruleSelector:
    matchLabels:
      prometheus: k8s
      role: alert-rules
  serviceAccountName: prometheus-k8s
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
  version: {{ prometheus_image_tag }}
