{% if item == "socket" %}
apiVersion: v1
kind: Service
metadata:
  name: socket-svc
  labels:
    app: socket-svc
spec:
  selector:
    app: devicesocket-services-soa
  ports:
    - name: http
      port: 8080
      targetPort: 8080
{% else %}
apiVersion: v1
kind: Service
metadata:
  name: {{item}}-svc
  labels:
    app: {{item}}-svc
spec:
  selector:
    app: {{item}}-services-soa
  ports:
    - name: http
      port: 8080
      targetPort: 8080
{% endif %}
