apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1.registry.tmax.io
spec:
  group: registry.tmax.io
  groupPriorityMinimum: 100
  service:
    name: registry-operator-service
    namespace: {{ registry_operator_namespace }}
    port: 24335
  version: v1
  versionPriority: 100
