---
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: clair-db
  namespace: {{ registry_operator_namespace }}
  labels:
    k8s-app: clair-db
    version: {{ registry_operator_clair_db_image_tag }}
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: clair-db
      version: {{ registry_operator_clair_db_image_tag }}
  template:
    metadata:
      labels:
        k8s-app: clair-db
        version: {{ registry_operator_clair_db_image_tag }}
    spec:
      containers:
        - name: postgres
          image: {{ registry_operator_clair_db_image_repo }}:{{ registry_operator_clair_db_image_tag }}
          env:
          - name: POSTGRES_PASSWORD
            value: {{ registry_operator_clair_db_password }}
          ports:
            - containerPort: {{ registry_operator_clair_db_port }}
              name: postgres-port
              protocol: TCP
