apiVersion: v1
kind: Service
metadata:
  name: registry-operator-service
  namespace: {{ registry_operator_namespace }}
spec:
  selector:
    control-plane: registry-operator
  type: ClusterIP
  ports:
  - name: registry
    port: 28677
    protocol: TCP
    targetPort: 28677
  - name: apiserver
    port: 24335
    protocol: TCP
    targetPort: 24335
