apiVersion: v1
kind: ConfigMap
metadata:
  name: manager-config
  namespace: {{ registry_operator_namespace }}
data:
  manager_config.yaml: |
    registry:
      image: registry:2.7.1
      image_pull_secret: ""
    notary:
      server:
        image: tmaxcloudck/notary_server:0.6.2-rc1
        image_pull_secret: ""
      signer:
        image: tmaxcloudck/notary_signer:0.6.2-rc1
        image_pull_secret: ""
      db:
        image: tmaxcloudck/notary_mysql:0.6.2-rc2
        image_pull_secret: ""
    token:
      url: https://auth.hyperregistry.{{ registry_operator_ingress_ip }}.nip.io
      insecure: false
      debug: false
    scanning:
      scanner:
        url: "http://clair.registry-system.svc.cluster.local:6060"
        insecure: false
      report:
        url: "http://elasticsearch.kube-logging.svc.cluster.local:9200"
    harbor:
      namespace: harbor
      core:
        ingress: tmax-harbor-ingress
      notary:
        ingress: tmax-harbor-ingress-notary
    external_registry:
      sync_period: "*/5 * * * *"
