---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "v0.3.0"
  creationTimestamp: null
  name: "registryjobs.tmax.io"
spec:
  additionalPrinterColumns:
  - JSONPath: ".status.state"
    name: "State"
    type: "string"
  - JSONPath: ".metadata.creationTimestamp"
    name: "Age"
    type: "date"
  group: "tmax.io"
  names:
    kind: "RegistryJob"
    listKind: "RegistryJobList"
    plural: "registryjobs"
    shortNames:
    - "rj"
    singular: "registryjob"
  scope: "Namespaced"
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema"
      properties:
        apiVersion:
          description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.apiVersion"
          type: "string"
        kind:
          description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.kind"
          type: "string"
        metadata:
          type: "object"
        spec:
          description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.spec"
          properties:
            claim:
              description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.claim"
              properties:
                handleObject:
                  description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.claim.properties.handleObject"
                  properties:
                    name:
                      description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.claim.properties.handleObject.properties.name"
                      type: "string"
                  type: "object"
                jobType:
                  description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.claim.properties.jobType"
                  enum:
                  - "SynchronizeExtReg"
                  - "ImageReplicate"
                  type: "string"
              required:
              - "handleObject"
              - "jobType"
              type: "object"
            priority:
              description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.priority"
              type: "integer"
            ttl:
              description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.ttl"
              type: "integer"
          required:
          - "ttl"
          type: "object"
        status:
          description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.status"
          properties:
            completionTime:
              description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.status.properties.completionTime"
              format: "date-time"
              type: "string"
            message:
              description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.status.properties.message"
              type: "string"
            startTime:
              description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.status.properties.startTime"
              format: "date-time"
              type: "string"
            state:
              description: "%tmax.io_registryjobs.yaml.spec.validation.openAPIV3Schema.properties.status.properties.state"
              type: "string"
          required:
          - "state"
          type: "object"
      type: "object"
  version: "v1"
  versions:
  - name: "v1"
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
