---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "v0.3.0"
  creationTimestamp: null
  name: "registrycronjobs.tmax.io"
spec:
  additionalPrinterColumns:
  - JSONPath: ".status.lastScheduledTime"
    name: "LastScheduledTime"
    type: "string"
  - JSONPath: ".metadata.creationTimestamp"
    name: "Age"
    type: "date"
  group: "tmax.io"
  names:
    kind: "RegistryCronJob"
    listKind: "RegistryCronJobList"
    plural: "registrycronjobs"
    shortNames:
    - "rcj"
    singular: "registrycronjob"
  scope: "Namespaced"
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema"
      properties:
        apiVersion:
          description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.apiVersion"
          type: "string"
        kind:
          description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.kind"
          type: "string"
        metadata:
          type: "object"
        spec:
          description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec"
          properties:
            jobSpec:
              description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.jobSpec"
              properties:
                claim:
                  description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.jobSpec.properties.claim"
                  properties:
                    handleObject:
                      description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.jobSpec.properties.claim.properties.handleObject"
                      properties:
                        name:
                          description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.jobSpec.properties.claim.properties.handleObject.properties.name"
                          type: "string"
                      type: "object"
                    jobType:
                      description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.jobSpec.properties.claim.properties.jobType"
                      enum:
                      - "SynchronizeExtReg"
                      - "ImageReplicate"
                      type: "string"
                  required:
                  - "handleObject"
                  - "jobType"
                  type: "object"
                priority:
                  description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.jobSpec.properties.priority"
                  type: "integer"
                ttl:
                  description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.jobSpec.properties.ttl"
                  type: "integer"
              required:
              - "ttl"
              type: "object"
            schedule:
              description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.schedule"
              type: "string"
          required:
          - "jobSpec"
          - "schedule"
          type: "object"
        status:
          description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.status"
          properties:
            lastScheduledTime:
              description: "%tmax.io_registrycronjobs.yaml.spec.validation.openAPIV3Schema.properties.status.properties.lastScheduledTime"
              format: "date-time"
              type: "string"
          type: "object"
      type: "object"
  version: "v1"
  versions:
  - name: "v1"
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
