---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "v0.3.0"
  creationTimestamp: null
  name: "imagereplicates.tmax.io"
spec:
  additionalPrinterColumns:
  - JSONPath: ".metadata.creationTimestamp"
    name: "AGE"
    type: "date"
  group: "tmax.io"
  names:
    kind: "ImageReplicate"
    listKind: "ImageReplicateList"
    plural: "imagereplicates"
    shortNames:
    - "imgrepl"
    singular: "imagereplicate"
  scope: "Namespaced"
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema"
      properties:
        apiVersion:
          description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.apiVersion"
          type: "string"
        kind:
          description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.kind"
          type: "string"
        metadata:
          type: "object"
        spec:
          description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec"
          properties:
            fromImage:
              description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.fromImage"
              properties:
                certificateSecret:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.fromImage.properties.certificateSecret"
                  type: "string"
                image:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.fromImage.properties.image"
                  type: "string"
                imagePullSecret:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.fromImage.properties.imagePullSecret"
                  type: "string"
                registryName:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.fromImage.properties.registryName"
                  type: "string"
                registryNamespace:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.fromImage.properties.registryNamespace"
                  type: "string"
                registryType:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.fromImage.properties.registryType"
                  enum:
                  - "HpcdRegistry"
                  - "DockerHub"
                  - "Docker"
                  type: "string"
              required:
              - "image"
              - "registryName"
              - "registryNamespace"
              - "registryType"
              type: "object"
            signer:
              description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.signer"
              type: "string"
            toImage:
              description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.toImage"
              properties:
                certificateSecret:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.toImage.properties.certificateSecret"
                  type: "string"
                image:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.toImage.properties.image"
                  type: "string"
                imagePullSecret:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.toImage.properties.imagePullSecret"
                  type: "string"
                registryName:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.toImage.properties.registryName"
                  type: "string"
                registryNamespace:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.toImage.properties.registryNamespace"
                  type: "string"
                registryType:
                  description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.toImage.properties.registryType"
                  enum:
                  - "HpcdRegistry"
                  - "DockerHub"
                  - "Docker"
                  type: "string"
              required:
              - "image"
              - "registryName"
              - "registryNamespace"
              - "registryType"
              type: "object"
          required:
          - "fromImage"
          - "toImage"
          type: "object"
        status:
          description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.status"
          properties:
            conditions:
              description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions"
              items:
                description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions.items"
                properties:
                  lastTransitionTime:
                    format: "date-time"
                    type: "string"
                  message:
                    type: "string"
                  reason:
                    description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions.items.properties.reason"
                    type: "string"
                  status:
                    type: "string"
                  type:
                    description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions.items.properties.type"
                    type: "string"
                required:
                - "status"
                - "type"
                type: "object"
              type: "array"
            imageSignRequestName:
              description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.status.properties.imageSignRequestName"
              type: "string"
            state:
              description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.status.properties.state"
              type: "string"
            stateChangedAt:
              description: "%tmax.io_imagereplicates.yaml.spec.validation.openAPIV3Schema.properties.status.properties.stateChangedAt"
              format: "date-time"
              type: "string"
          type: "object"
      type: "object"
  version: "v1"
  versions:
  - name: "v1"
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
