---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "v0.3.0"
  creationTimestamp: null
  name: "imagescanrequests.tmax.io"
spec:
  additionalPrinterColumns:
  - JSONPath: ".status.status"
    name: "STATUS"
    type: "string"
  - JSONPath: ".metadata.creationTimestamp"
    name: "AGE"
    type: "date"
  group: "tmax.io"
  names:
    kind: "ImageScanRequest"
    listKind: "ImageScanRequestList"
    plural: "imagescanrequests"
    shortNames:
    - "icr"
    singular: "imagescanrequest"
  scope: "Namespaced"
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema"
      properties:
        apiVersion:
          description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.apiVersion"
          type: "string"
        kind:
          description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.kind"
          type: "string"
        metadata:
          type: "object"
        spec:
          description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec"
          properties:
            insecure:
              description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.insecure"
              type: "boolean"
            maxFixable:
              description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.maxFixable"
              type: "integer"
            scanTargets:
              items:
                description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.scanTargets.items"
                properties:
                  certificateSecret:
                    description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.scanTargets.items.properties.certificateSecret"
                    type: "string"
                  imagePullSecret:
                    description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.scanTargets.items.properties.imagePullSecret"
                    type: "string"
                  images:
                    description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.scanTargets.items.properties.images"
                    items:
                      type: "string"
                    type: "array"
                  registryUrl:
                    description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.scanTargets.items.properties.registryUrl"
                    type: "string"
                required:
                - "images"
                - "registryUrl"
                type: "object"
              type: "array"
            sendReport:
              description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.sendReport"
              type: "boolean"
          required:
          - "scanTargets"
          type: "object"
        status:
          description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status"
          properties:
            message:
              description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.message"
              type: "string"
            reason:
              description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.reason"
              type: "string"
            results:
              additionalProperties:
                description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties"
                properties:
                  fatal:
                    description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.fatal"
                    items:
                      type: "string"
                    type: "array"
                  summary:
                    additionalProperties:
                      type: "integer"
                    description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.summary"
                    type: "object"
                  vulnerabilities:
                    additionalProperties:
                      description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities.additionalProperties"
                      items:
                        description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities.additionalProperties.items"
                        properties:
                          Description:
                            description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities.additionalProperties.items.properties.Description"
                            type: "string"
                          FixedBy:
                            description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities.additionalProperties.items.properties.FixedBy"
                            type: "string"
                          Link:
                            description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities.additionalProperties.items.properties.Link"
                            type: "string"
                          Name:
                            description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities.additionalProperties.items.properties.Name"
                            type: "string"
                          NamespaceName:
                            description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities.additionalProperties.items.properties.NamespaceName"
                            type: "string"
                          Severity:
                            description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities.additionalProperties.items.properties.Severity"
                            type: "string"
                        type: "object"
                      type: "array"
                    description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results.additionalProperties.properties.vulnerabilities"
                    type: "object"
                type: "object"
              description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.results"
              type: "object"
            status:
              description: "%tmax.io_imagescanrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.status"
              type: "string"
          type: "object"
      type: "object"
  version: "v1"
  versions:
  - name: "v1"
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
