---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "v0.3.0"
  creationTimestamp: null
  name: "registries.tmax.io"
spec:
  additionalPrinterColumns:
  - JSONPath: ".spec.image"
    name: "IMAGE"
    priority: 1
    type: "string"
  - JSONPath: ".status.serverURL"
    name: "REGISTRY_URL"
    type: "string"
  - JSONPath: ".status.notaryURL"
    name: "NOTARY_URL"
    type: "string"
  - JSONPath: ".status.capacity"
    name: "CAPACITY"
    priority: 1
    type: "string"
  - JSONPath: ".status.phase"
    name: "STATUS"
    type: "string"
  - JSONPath: ".metadata.creationTimestamp"
    name: "AGE"
    type: "date"
  group: "tmax.io"
  names:
    kind: "Registry"
    listKind: "RegistryList"
    plural: "registries"
    shortNames:
    - "reg"
    singular: "registry"
  scope: "Namespaced"
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema"
      properties:
        apiVersion:
          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.apiVersion"
          type: "string"
        kind:
          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.kind"
          type: "string"
        metadata:
          type: "object"
        spec:
          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec"
          properties:
            customConfigYml:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.customConfigYml"
              type: "string"
            description:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.description"
              type: "string"
            image:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.image"
              type: "string"
            loginId:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.loginId"
              type: "string"
            loginPassword:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.loginPassword"
              type: "string"
            notary:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary"
              properties:
                enabled:
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.enabled"
                  type: "boolean"
                persistentVolumeClaim:
                  oneOf:
                  - required:
                    - "exist"
                  - required:
                    - "create"
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.persistentVolumeClaim"
                  properties:
                    create:
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.persistentVolumeClaim.properties.create"
                      properties:
                        accessModes:
                          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.persistentVolumeClaim.properties.create.properties.accessModes"
                          items:
                            enum:
                            - "ReadWriteOnce"
                            - "ReadWriteMany"
                            type: "string"
                          type: "array"
                        deleteWithPvc:
                          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.persistentVolumeClaim.properties.create.properties.deleteWithPvc"
                          type: "boolean"
                        storageClassName:
                          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.persistentVolumeClaim.properties.create.properties.storageClassName"
                          type: "string"
                        storageSize:
                          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.persistentVolumeClaim.properties.create.properties.storageSize"
                          type: "string"
                      required:
                      - "accessModes"
                      - "storageClassName"
                      - "storageSize"
                      type: "object"
                    exist:
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.persistentVolumeClaim.properties.exist"
                      properties:
                        pvcName:
                          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.persistentVolumeClaim.properties.exist.properties.pvcName"
                          type: "string"
                      required:
                      - "pvcName"
                      type: "object"
                  type: "object"
                serviceType:
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.notary.properties.serviceType"
                  enum:
                  - "Ingress"
                  - "LoadBalancer"
                  type: "string"
              required:
              - "enabled"
              type: "object"
            persistentVolumeClaim:
              oneOf:
              - required:
                - "exist"
              - required:
                - "create"
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.persistentVolumeClaim"
              properties:
                create:
                  properties:
                    accessModes:
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.persistentVolumeClaim.properties.create.properties.accessModes"
                      items:
                        enum:
                        - "ReadWriteOnce"
                        - "ReadWriteMany"
                        type: "string"
                      type: "array"
                    deleteWithPvc:
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.persistentVolumeClaim.properties.create.properties.deleteWithPvc"
                      type: "boolean"
                    storageClassName:
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.persistentVolumeClaim.properties.create.properties.storageClassName"
                      type: "string"
                    storageSize:
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.persistentVolumeClaim.properties.create.properties.storageSize"
                      type: "string"
                  required:
                  - "accessModes"
                  - "storageClassName"
                  - "storageSize"
                  type: "object"
                exist:
                  properties:
                    pvcName:
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.persistentVolumeClaim.properties.exist.properties.pvcName"
                      type: "string"
                  required:
                  - "pvcName"
                  type: "object"
                mountPath:
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.persistentVolumeClaim.properties.mountPath"
                  type: "string"
              type: "object"
            readOnly:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.readOnly"
              type: "boolean"
            registryDeployment:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment"
              properties:
                labels:
                  additionalProperties:
                    type: "string"
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.labels"
                  type: "object"
                nodeSelector:
                  additionalProperties:
                    type: "string"
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.nodeSelector"
                  type: "object"
                resources:
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.resources"
                  properties:
                    limits:
                      additionalProperties:
                        anyOf:
                        - type: "integer"
                        - type: "string"
                        pattern: "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\\
                          +|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$"
                        x-kubernetes-int-or-string: true
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.resources.properties.limits"
                      type: "object"
                    requests:
                      additionalProperties:
                        anyOf:
                        - type: "integer"
                        - type: "string"
                        pattern: "^(\\+|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\\\
                          +|-)?(([0-9]+(\\.[0-9]*)?)|(\\.[0-9]+))))?$"
                        x-kubernetes-int-or-string: true
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.resources.properties.requests"
                      type: "object"
                  type: "object"
                selector:
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.selector"
                  properties:
                    matchExpressions:
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.selector.properties.matchExpressions"
                      items:
                        description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.selector.properties.matchExpressions.items"
                        properties:
                          key:
                            description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.selector.properties.matchExpressions.items.properties.key"
                            type: "string"
                          operator:
                            description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.selector.properties.matchExpressions.items.properties.operator"
                            type: "string"
                          values:
                            description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.selector.properties.matchExpressions.items.properties.values"
                            items:
                              type: "string"
                            type: "array"
                        required:
                        - "key"
                        - "operator"
                        type: "object"
                      type: "array"
                    matchLabels:
                      additionalProperties:
                        type: "string"
                      description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.selector.properties.matchLabels"
                      type: "object"
                  type: "object"
                tolerations:
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.tolerations"
                  items:
                    description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.tolerations.items"
                    properties:
                      effect:
                        description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.tolerations.items.properties.effect"
                        type: "string"
                      key:
                        description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.tolerations.items.properties.key"
                        type: "string"
                      operator:
                        description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.tolerations.items.properties.operator"
                        type: "string"
                      tolerationSeconds:
                        description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.tolerations.items.properties.tolerationSeconds"
                        format: "int64"
                        type: "integer"
                      value:
                        description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryDeployment.properties.tolerations.items.properties.value"
                        type: "string"
                    type: "object"
                  type: "array"
              type: "object"
            service:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.service"
              properties:
                serviceType:
                  description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.service.properties.serviceType"
                  enum:
                  - "Ingress"
                  - "LoadBalancer"
                  type: "string"
              required:
              - "serviceType"
              type: "object"
          required:
          - "loginId"
          - "loginPassword"
          - "persistentVolumeClaim"
          - "service"
          type: "object"
        status:
          description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status"
          properties:
            capacity:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.capacity"
              type: "string"
            clusterIP:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.clusterIP"
              type: "string"
            conditions:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions"
              items:
                description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions.items"
                properties:
                  lastTransitionTime:
                    format: "date-time"
                    type: "string"
                  message:
                    type: "string"
                  reason:
                    description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions.items.properties.reason"
                    type: "string"
                  status:
                    type: "string"
                  type:
                    description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions.items.properties.type"
                    type: "string"
                required:
                - "status"
                - "type"
                type: "object"
              type: "array"
            loadBalancerIP:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.loadBalancerIP"
              type: "string"
            message:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.message"
              type: "string"
            notaryURL:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.notaryURL"
              type: "string"
            phase:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.phase"
              type: "string"
            phaseChangedAt:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.phaseChangedAt"
              format: "date-time"
              type: "string"
            podRecreateRequired:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.podRecreateRequired"
              type: "boolean"
            readOnly:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.readOnly"
              type: "boolean"
            reason:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.reason"
              type: "string"
            serverURL:
              description: "%tmax.io_registries.yaml.spec.validation.openAPIV3Schema.properties.status.properties.serverURL"
              type: "string"
          type: "object"
      required:
      - "spec"
      type: "object"
  version: "v1"
  versions:
  - name: "v1"
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
