---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "v0.3.0"
  creationTimestamp: null
  name: "imagesignrequests.tmax.io"
spec:
  additionalPrinterColumns:
  - JSONPath: ".spec.image"
    name: "IMAGE"
    type: "string"
  - JSONPath: ".spec.signer"
    name: "SIGNER"
    type: "string"
  - JSONPath: ".status.imageSignResponse.result"
    name: "STATUS"
    type: "string"
  - JSONPath: ".metadata.creationTimestamp"
    name: "AGE"
    type: "date"
  group: "tmax.io"
  names:
    kind: "ImageSignRequest"
    listKind: "ImageSignRequestList"
    plural: "imagesignrequests"
    shortNames:
    - "isr"
    singular: "imagesignrequest"
  scope: "Namespaced"
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema"
      properties:
        apiVersion:
          description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.apiVersion"
          type: "string"
        kind:
          description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.kind"
          type: "string"
        metadata:
          type: "object"
        spec:
          description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.spec"
          properties:
            image:
              description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.image"
              type: "string"
            registryLogin:
              description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryLogin"
              properties:
                certSecretName:
                  description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryLogin.properties.certSecretName"
                  type: "string"
                dcjSecretName:
                  description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.registryLogin.properties.dcjSecretName"
                  type: "string"
              required:
              - "dcjSecretName"
              type: "object"
            signer:
              description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.signer"
              type: "string"
          required:
          - "image"
          - "signer"
          type: "object"
        status:
          description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.status"
          properties:
            imageSignResponse:
              description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.imageSignResponse"
              properties:
                message:
                  type: "string"
                reason:
                  type: "string"
                result:
                  description: "%tmax.io_imagesignrequests.yaml.spec.validation.openAPIV3Schema.properties.status.properties.imageSignResponse.properties.result"
                  type: "string"
              type: "object"
          type: "object"
      type: "object"
  version: "v1"
  versions:
  - name: "v1"
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
