---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: token-service-db-pvc
  namespace: {{ registry_operator_namespace }}
  labels:
    app: token-service-db
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ registry_operator_storage_class }}
  resources:
    requests:
      storage: {{ token_db_disk_size }}
