---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: token-service-ingress
  namespace: {{ registry_operator_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: {{ ingress_nginx_class }}
spec:
  rules:
    - host: auth.hyperregistry.{{ registry_operator_ingress_ip }}.nip.io
      http:
        paths:
          - backend:
              service:
                name: token-service
                port:
                  number: 8080
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - auth.hyperregistry.{{ registry_operator_ingress_ip }}.nip.io
      secretName: token-service
