---
apiVersion: v1
kind: Secret
metadata:
  name: token-service
  namespace: {{ registry_operator_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: {{ token_service_cert_content | b64encode }}
  tls.key: {{ token_service_key_content | b64encode }}
