---
apiVersion: v1
kind: Service
metadata:
  name: token-service-db
  namespace: {{ registry_operator_namespace }}
  labels:
    app: token-service-db
spec:
  selector:
    app: token-service-db
  type: ClusterIP
  ports:
    - port: {{ token_db_port }}
