# Environment file for etcd {{ etcd_version }}

ETCD_METRICS={{ etcd_metrics }}

{% for key, value in etcd_extra_vars.items() %}
{{ key }}={{ value }} # etcd, event
{% endfor %}

{% if ansible_architecture == "aarch64" -%}
ETCD_UNSUPPORTED_ARCH=arm64
{%- endif %}
