variable "aws_region" {
  default     = "eu-central-1"
}

variable "env" {
    default = "dev"
}

variable "av_zones" {
    default = "eu-central-1a,eu-central-1b"
}

variable "masters" {
    default {
        key = "MY-KEY"
        type = "t2.micro"
        ami = "ami-ccc021a3" #Debian jessie 8.4
        sg = "SG-MASTERS"
        subnets = "subnet-AAAAAAAA,subnet-BBBBBBBB"
        check = "/version"
     }
}

variable "etcd" {
    default {
        key = "MY-KEY"
        type = "t2.micro"
        ami = "ami-ccc021a3" #Debian jessie 8.4
        sg = "sg-ETCD"
        subnets = "subnet-AAAAAAAA,subnet-BBBBBBBB"
     }
}

variable "nodes" {
    default {
        key = "zied-eu-central-1"
        type = "t2.micro"
        ami = "ami-ccc021a3" #Debian jessie 8.4
        sg = "sg-NODES"
        subnets = "subnet-AAAAAAAA,subnet-BBBBBBBB"
     }
}
