#!/bin/bash
/usr/bin/docker run --privileged --rm \
--net=host --pid=host  -e ETCD_AUTHORITY=127.0.0.1:2379 \
-v /usr/bin/docker:/usr/bin/docker \
-v /var/run/docker.sock:/var/run/docker.sock \
-v /var/run/calico:/var/run/calico \
{{ calicoctl_image_repo }}:{{ calicoctl_image_tag}} \
$@
