#!/bin/bash
DATASTORE_TYPE=kubernetes \
{% if inventory_hostname in groups['kube-master'] %}
KUBECONFIG=/etc/kubernetes/admin.conf \
{% else %}
KUBECONFIG=/etc/cni/net.d/calico-kubeconfig \
{% endif %}
{{ bin_dir }}/calicoctl "$@"
