kind: ConfigMap
apiVersion: v1
metadata:
  name: calico-config
  namespace: kube-system
data:
{% if calico_datastore == "etcd" %}
  etcd_endpoints: "{{ etcd_access_addresses }}"
  etcd_ca: "/calico-secrets/ca_cert.crt"
  etcd_cert: "/calico-secrets/cert.crt"
  etcd_key: "/calico-secrets/key.pem"
{% elif calico_datastore == "kdd" and typha_enabled %}
  # To enable Typha, set this to "calico-typha" *and* set a non-zero value for Typha replicas
  # below.  We recommend using Typha if you have more than 50 nodes. Above 100 nodes it is
  # essential.
  typha_service_name: "calico-typha"
{% endif %}
{% if calico_network_backend is defined %}
  cluster_type: "kubespray"
  calico_backend: "{{ calico_network_backend }}"
{% else %}
  cluster_type: "kubespray,bgp"
  calico_backend: "bird"
{% endif %}
{% if inventory_hostname in groups['k8s_cluster'] and peer_with_router|default(false) %}
  as: "{{ local_as|default(global_as_num) }}"
{% endif -%}
