#!/bin/bash
/usr/bin/docker run --privileged --rm \
--net=host --pid=host \
-e ETCD_ENDPOINTS={{ etcd_access_endpoint }} \
-v /usr/bin/docker:/usr/bin/docker \
-v /var/run/docker.sock:/var/run/docker.sock \
-v /var/run/calico:/var/run/calico \
{{ calicoctl_image_repo }}:{{ calicoctl_image_tag}} \
$@
