apiVersion: crd.projectcalico.org/v1
kind: IPAMConfig
metadata:
  name: default
spec:
  autoAllocateBlocks: {{ calico_ipam_autoallocateblocks }}
  strictAffinity: {{ calico_ipam_strictaffinity }}
  maxBlocksPerHost: {{ calico_ipam_maxblocksperhost }}
