{
  "name": "calico-k8s-network",
{% if not legacy_calicoctl %}
  "hostname": "{{ inventory_hostname }}",
{% endif %}
  "type": "calico",
  "etcd_endpoints": "{{ network_plugin_etcd_access_endpoint }}",
  "etcd_cert_file": "{{ network_plugin_etcd_cert_dir_real }}/node.pem",
  "etcd_key_file": "{{ network_plugin_etcd_cert_dir_real }}/node-key.pem",
  "etcd_ca_cert_file": "{{ network_plugin_etcd_cert_dir_real }}/ca.pem",
  "log_level": "info",
  "ipam": {
    "type": "calico-ipam"
  },
{% if enable_network_policy is defined and enable_network_policy == True %}
  "policy": {
    "type": "k8s"
  },
{% endif %}
{% if calico_mtu is defined and calico_mtu is number %}
  "mtu": {{ calico_mtu }},
{% endif %}
  "kubernetes": {
    "kubeconfig": "{{ kube_config_dir }}/node-kubeconfig.yaml"
  }
}
