{
  "name": "cni0",
  "cniVersion":"0.3.1",
  "plugins":[
    {
    {% if cloud_provider is defined %}
      "nodename": "{{ calico_kubelet_name.stdout }}",
    {% else %}
      "nodename": "{{ inventory_hostname }}",
    {% endif %}
      "type": "calico",
      "etcd_endpoints": "{{ etcd_access_addresses }}",
      "etcd_cert_file": "{{ etcd_cert_dir }}/node-{{ inventory_hostname }}.pem",
      "etcd_key_file": "{{ etcd_cert_dir }}/node-{{ inventory_hostname }}-key.pem",
      "etcd_ca_cert_file": "{{ etcd_cert_dir }}/ca.pem",
      "log_level": "info",
      "ipam": {
        "type": "calico-ipam",
        "assign_ipv4": "true",
        "ipv4_pools": ["{{ kube_pods_subnet }}"]
      },
    {% if enable_network_policy %}
      "policy": {
        "type": "k8s"
      },
    {%- endif %}
    {% if calico_mtu is defined and calico_mtu is number %}
      "mtu": {{ calico_mtu }},
    {%- endif %}
      "kubernetes": {
        "kubeconfig": "{{ kube_config_dir }}/node-kubeconfig.yaml"
      }
    },
    {
      "type":"portmap",
      "capabilities":{
        "portMappings":true
      }
    }
  ]
}
