---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: kube-system
  name: kubernetes-services-endpoint
data:
{% if calico_bpf_enabled %}
  KUBERNETES_SERVICE_HOST: "{{ kube_apiserver_global_endpoint | urlsplit('hostname') }}"
  KUBERNETES_SERVICE_PORT: "{{ kube_apiserver_global_endpoint | urlsplit('port') }}"
{% endif %}
