apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: kdd-crds

resources:
{% for manifest in calico_kdd_crds_manifests_list %}
- {{ manifest }}
{% endfor %}

patchesJson6902:
- target:
    kind: CustomResourceDefinition
    name: .*
  patch: |-
    - op: remove
      path: /metadata/annotations
    - op: remove
      path: /metadata/creationTimestamp
