[Global]
auth-url="{{ external_huaweicloud_auth_url }}"
{% if external_huaweicloud_access_key is defined and external_huaweicloud_access_key != "" %}
access-key={{ external_huaweicloud_access_key }}
{% endif %}
{% if external_huaweicloud_secret_key is defined and external_huaweicloud_secret_key != "" %}
secret-key={{ external_huaweicloud_secret_key }}
{% endif %}
region="{{ external_huaweicloud_region }}"
{% if external_huaweicloud_project_id is defined and external_huaweicloud_project_id != "" %}
project-id="{{ external_huaweicloud_project_id }}"
{% endif %}
{% if external_huaweicloud_cloud is defined and external_huaweicloud_cloud != "" %}
cloud="{{ external_huaweicloud_cloud }}"
{% endif %}

[VPC]
{% if external_huaweicloud_lbaas_subnet_id is defined %}
subnet-id={{ external_huaweicloud_lbaas_subnet_id }}
{% endif %}
{% if external_huaweicloud_lbaas_network_id is defined %}
id={{ external_huaweicloud_lbaas_network_id }}
{% endif %}
{% if external_huaweicloud_security_group_id is defined %}
security-group-id={{ external_huaweicloud_security_group_id }}
{% endif %}
