# This YAML file contains secret objects,
# which are necessary to run external huaweicloud cloud controller.

kind: Secret
apiVersion: v1
metadata:
  name: external-huawei-cloud-config
  namespace: kube-system
data:
  cloud-config: {{ external_huawei_cloud_config_secret }}
