# This ConfigMap can be used to configure a self-hosted Canal installation.
# See `canal.yaml` for an example of a Canal deployment which uses
# the config in this ConfigMap.
kind: ConfigMap
apiVersion: v1
metadata:
  name: canal-config
data:
  # Configure this with the location of your etcd cluster.
  etcd_endpoints: "{{ etcd_access_addresses }}"

  # The interface used by canal for host <-> host communication.
  # If left blank, then the interface is chosing using the node's
  # default route.
  flanneld_iface: "{{ canal_iface }}"

  # Whether or not to masquerade traffic to destinations not within
  # the pod network.
  masquerade: "{{ canal_masquerade }}"

  # Cluster name for Flannel etcd path
  cluster_name: "{{ cluster_name }}"

  # SSL Etcd configuration
  etcd_cafile: "{{ canal_cert_dir }}/ca_cert.crt"
  etcd_certfile: "{{ canal_cert_dir }}/cert.crt"
  etcd_keyfile: "{{ canal_cert_dir }}/key.pem"
