{
  "name": "cni0",
  "cniVersion":"0.3.1",
  "plugins":[
    {
      "type": "flannel",
      "delegate": {
        "type": "calico",
        "etcd_endpoints": "{{ etcd_access_addresses }}",
        "etcd_key_file": "{{ canal_cert_dir }}/key.pem",
        "etcd_cert_file": "{{ canal_cert_dir }}/cert.crt",
        "etcd_ca_cert_file": "{{ canal_cert_dir }}/ca_cert.crt",
        "log_level": "info",
        "policy": {
          "type": "k8s"
        },
        "kubernetes": {
          "kubeconfig": "{{ kube_config_dir }}/node-kubeconfig.yaml"
        }
      }
    },
    {
      "type":"portmap",
      "capabilities":{
        "portMappings":true
      }
    }
  ]
}
