---
apiVersion: v1
kind: Secret
metadata:
  name: csi-manila-secrets
  namespace: kube-system
type: Opaque
stringData:
  os-authURL: "{{ manila_auth_url }}"
  os-region: "{{ manila_region }}"
{% if manila_application_credential_id | length > 0 %}
  os-applicationCredentialID: "{{ manila_application_credential_id }}"
  os-applicationCredentialSecret: "{{ manila_application_credential_secret }}"
{% else %}
  os-userName: "{{ manila_username }}"
  os-password: "{{ manila_password }}"
  os-projectName: "{{ manila_tenant_name }}"
{% endif %}

{% if manila_cacert | length > 0 %}
  os-certAuthorityPath: "{{ kube_config_dir }}/manila-cacert.pem"
{% endif %}
