---
kind: RuntimeClass
apiVersion: node.k8s.io/v1beta1
metadata:
  name: kata-qemu
handler: kata-qemu
{% if kata_containers_qemu_overhead %}
overhead:
  podFixed:
    cpu: {{ kata_containers_qemu_overhead_fixed_cpu }}
    memory: {{ kata_containers_qemu_overhead_fixed_memory }}
{% endif %}
