---
kind: RuntimeClass
apiVersion: node.k8s.io/v1
metadata:
    name: kata-fc
handler: kata-fc
{% if kata_containers_fc_overhead %}
overhead:
  podFixed:
    cpu: {{ kata_containers_fc_overhead_fixed_cpu }}
    memory: {{ kata_containers_fc_overhead_fixed_memory }}
{% endif %}
