{% for class in storage_classes %}
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: "{{ class.name }}"
  annotations:
    storageclass.kubernetes.io/is-default-class: "{{ class.is_default | default(false) | ternary("true","false") }}"
provisioner: kubernetes.io/cinder
parameters:
{% for key, value in (class.parameters | default({})).items() %}
  "{{ key }}": "{{ value }}"
{% endfor %}
allowVolumeExpansion: {{ expand_persistent_volumes }}
{% endfor %}
