{
    "name": "cilium-portmap",
    "plugins": [
        {
            "type": "cilium-cni"
        },
        {
            "type": "portmap",
            "capabilities": {
                "portMappings": true
            }
        }
    ]
}
