---
# The etcd secrets can be populated in kubernetes.
# For more information see: https://kubernetes.io/docs/concepts/configuration/secret
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: cilium-etcd-secrets
  namespace: {{ system_namespace }}
data:
  # ETCD-CERT: Each value should contain the whole certificate in base64, on a
  # single line. You can generate the base64 with: $ base64 -w 0 ./ca.pem
  # (the "-w 0" generates the output on a single line)
  etcd-ca: "{{ etcd_master_cert_data }}"
  etcd-client-key: "{{ etcd_node_cert_data }}"
  etcd-client-crt: "{{ etcd_node_cert_data }}"
