---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ cephfs_provisioner_storage_class }}
provisioner: ceph.com/cephfs
parameters:
  cluster: {{ cephfs_provisioner_cluster }}
  monitors: {{ cephfs_provisioner_monitors | join(',') }}
  adminId: {{ cephfs_provisioner_admin_id }}
  adminSecretName: cephfs-provisioner-{{ cephfs_provisioner_admin_id }}-secret
  adminSecretNamespace: {{ cephfs_provisioner_namespace }}
