---
kind: Secret
apiVersion: v1
metadata:
  name: cephfs-provisioner-{{ cephfs_provisioner_admin_id }}-secret
  namespace: {{ cephfs_provisioner_namespace }}
type: Opaque
data:
  secret: {{ cephfs_provisioner_secret | b64encode }}
