---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "ceph-csi-config"
  namespace: {{ cephfs_provisioner_namespace }}
data:
  config.json: |-
    {{ cephfs_provisioner_ceph_csi_config_json | indent(width=4, first=False) }}
