apiVersion: v1
kind: Secret
metadata:
  name: {{ cephfs_provisioner_secret_name }}
  namespace: {{ cephfs_provisioner_namespace }}
  labels:
    app: ceph-csi-cephfs
stringData:
  adminID: {{ cephfs_provisioner_admin_id }}
  adminKey: {{ cephfs_provisioner_admin_key }}
