apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  labels:
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-crds
  name: tfjobs.kubeflow.org
spec:
  additionalPrinterColumns:
  - JSONPath: .status.conditions[-1:].type
    name: State
    type: string
  - JSONPath: .metadata.creationTimestamp
    name: Age
    type: date
  group: kubeflow.org
  names:
    kind: TFJob
    plural: tfjobs
    singular: tfjob
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        spec:
          properties:
            tfReplicaSpecs:
              properties:
                Chief:
                  properties:
                    replicas:
                      maximum: 1
                      minimum: 1
                      type: integer
                Evaluator:
                  properties:
                    replicas:
                      minimum: 0
                      type: integer
                PS:
                  properties:
                    replicas:
                      minimum: 1
                      type: integer
                Worker:
                  properties:
                    replicas:
                      minimum: 1
                      type: integer
  versions:
  - name: v1
    served: true
    storage: true
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: tf-job-dashboard
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
  name: tf-job-dashboard
  namespace: {{ ai_devops_namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: tf-job-operator
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
  name: tf-job-operator
  namespace: {{ ai_devops_namespace }}
---
aggregationRule:
  clusterRoleSelectors:
  - matchLabels:
      rbac.authorization.kubeflow.org/aggregate-to-kubeflow-tfjobs-admin: "true"
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-admin: "true"
  name: kubeflow-tfjobs-admin
rules: []
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-edit: "true"
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-tfjobs-admin: "true"
  name: kubeflow-tfjobs-edit
rules:
- apiGroups:
  - kubeflow.org
  resources:
  - tfjobs
  - tfjobs/status
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - deletecollection
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
    rbac.authorization.kubeflow.org/aggregate-to-kubeflow-view: "true"
  name: kubeflow-tfjobs-view
rules:
- apiGroups:
  - kubeflow.org
  resources:
  - tfjobs
  - tfjobs/status
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  labels:
    app: tf-job-operator
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
  name: tf-job-operator
rules:
- apiGroups:
  - kubeflow.org
  resources:
  - tfjobs
  - tfjobs/status
  - tfjobs/finalizers
  verbs:
  - '*'
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - events
  verbs:
  - '*'
- apiGroups:
  - apps
  - extensions
  resources:
  - deployments
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  labels:
    app: tf-job-operator
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
  name: tf-job-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: tf-job-operator
subjects:
- kind: ServiceAccount
  name: tf-job-operator
  namespace: {{ ai_devops_namespace }}
---
apiVersion: v1
data:
  cluster-name: ""
  clusterDomain: cluster.local
  istio-namespace: {{ istio_namespace }}
  userid-header: kubeflow-userid
  userid-prefix: ""
kind: ConfigMap
metadata:
  name: kubeflow-config-mb6ktt4hf9
  namespace: {{ ai_devops_namespace }}
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/path: /metrics
    prometheus.io/port: "8443"
    prometheus.io/scrape: "true"
  labels:
    app: tf-job-operator
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
  name: tf-job-operator
  namespace: {{ ai_devops_namespace }}
spec:
  ports:
  - name: monitoring-port
    port: 8443
    targetPort: 8443
  selector:
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
    name: tf-job-operator
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
    kustomize.component: tf-job-operator
  name: tf-job-operator
  namespace: {{ ai_devops_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: tfjob
      app.kubernetes.io/name: tf-job-operator
      kustomize.component: tf-job-operator
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
      labels:
        app.kubernetes.io/component: tfjob
        app.kubernetes.io/name: tf-job-operator
        kustomize.component: tf-job-operator
        name: tf-job-operator
    spec:
      containers:
      - args:
        - --alsologtostderr
        - -v=1
        - --monitoring-port=8443
        env:
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        image: {{ tf_job_operator_image }}
        name: tf-job-operator
      serviceAccountName: tf-job-operator
---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  labels:
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-crds
  name: tf-job-crds
  namespace: {{ ai_devops_namespace }}
spec:
  addOwnerRef: true
  componentKinds:
  - group: core
    kind: Service
  - group: apps
    kind: Deployment
  - group: core
    kind: ServiceAccount
  - group: kubeflow.org
    kind: TFJob
  descriptor:
    description: Tf-job-crds contains the "TFJob" custom resource definition.
    keywords:
    - tfjob
    - tf-operator
    - tf-training
    links:
    - description: About
      url: https://github.com/kubeflow/tf-operator
    - description: Docs
      url: https://www.kubeflow.org/docs/reference/tfjob/v1/tensorflow/
    maintainers:
    - email: ricliu@google.com
      name: Richard Liu
    owners:
    - email: ricliu@google.com
      name: Richard Liu
    type: tf-job-crds
    version: v1
  selector:
    matchLabels:
      app.kubernetes.io/component: tfjob
      app.kubernetes.io/instance: tf-job-crds-v0.7.0
      app.kubernetes.io/managed-by: kfctl
      app.kubernetes.io/name: tf-job-crds
      app.kubernetes.io/part-of: kubeflow
      app.kubernetes.io/version: v0.7.0
---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  labels:
    app.kubernetes.io/component: tfjob
    app.kubernetes.io/name: tf-job-operator
  name: tf-job-operator
  namespace: {{ ai_devops_namespace }}
spec:
  addOwnerRef: true
  componentKinds:
  - group: core
    kind: Service
  - group: apps
    kind: Deployment
  - group: core
    kind: ServiceAccount
  - group: kubeflow.org
    kind: TFJob
  descriptor:
    description: Tf-operator allows users to create and manage the "TFJob" custom resource.
    keywords:
    - tfjob
    - tf-operator
    - tf-training
    links:
    - description: About
      url: https://github.com/kubeflow/tf-operator
    - description: Docs
      url: https://www.kubeflow.org/docs/reference/tfjob/v1/tensorflow/
    maintainers:
    - email: ricliu@google.com
      name: Richard Liu
    owners:
    - email: ricliu@google.com
      name: Richard Liu
    type: tf-job-operator
    version: v1
  selector:
    matchLabels:
      app.kubernetes.io/component: tfjob
      app.kubernetes.io/instance: tf-job-operator-v0.7.0
      app.kubernetes.io/managed-by: kfctl
      app.kubernetes.io/name: tf-job-operator
      app.kubernetes.io/part-of: kubeflow
      app.kubernetes.io/version: v0.7.0
