---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: cert-manager
  namespace: {{ cert_manager_namespace }}
  labels:
    app: cert-manager
    chart: cert-manager-0.2.8
    release: cert-manager
    heritage: Tiller
spec:
  replicas: 1
  template:
    metadata:
      labels:
        k8s-app: cert-manager
        release: cert-manager
      annotations:
    spec:
      serviceAccountName: cert-manager
      containers:
        - name: cert-manager
          image: {{ cert_manager_controller_image_repo }}:{{ cert_manager_controller_image_tag }}
          imagePullPolicy: {{ k8s_image_pull_policy }}
          args:
            - --cluster-resource-namespace=$(POD_NAMESPACE)
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            requests:
              cpu: {{ cert_manager_cpu_requests }}
              memory: {{ cert_manager_memory_requests }}
            limits:
              cpu: {{ cert_manager_cpu_limits }}
              memory: {{ cert_manager_memory_limits }}
            
        - name: ingress-shim
          image: {{ cert_manager_ingress_shim_image_repo }}:{{ cert_manager_ingress_shim_image_tag }}
          imagePullPolicy: {{ k8s_image_pull_policy }}
          resources:
            requests:
              cpu: {{ cert_manager_cpu_requests }}
              memory: {{ cert_manager_memory_requests }}
            limits:
              cpu: {{ cert_manager_cpu_limits }}
              memory: {{ cert_manager_memory_limits }}
            
