---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cert-manager
  namespace: {{ cert_manager_namespace }}
  labels:
    app: cert-manager
    chart: cert-manager-v0.5.2
    release: cert-manager
    heritage: Tiller
