debug             = false
debug_full        = false
address           = "{{ cri_socket }}"
namespace         = "k8s.io"
snapshotter       = "{{ nerdctl_snapshotter | default('overlayfs') }}"
cni_path          = "/opt/cni/bin"
cni_netconfpath   = "/etc/cni/net.d"
cgroup_manager    = "{{ kubelet_cgroup_driver | default('systemd') }}"
insecure_registry = {{ (containerd_insecure_registries is defined and containerd_insecure_registries|length>0) | bool | lower }}
hosts_dir         = ["/etc/containerd/certs.d"]
