{% if not scheduler_plugins_single_scheduler_mode %}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: scheduler-plugins-scheduler
  namespace: {{ scheduler_plugins_namespace }}
{% endif %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: scheduler-plugins-controller
  namespace: {{ scheduler_plugins_namespace }}