apiVersion: v1
kind: Endpoints
metadata:
  name: etcd-metrics
  namespace: kube-system
  labels:
    k8s-app: etcd
    app.kubernetes.io/managed-by: Kubespray
subsets:
{% for etcd_metrics_address, etcd_host in etcd_metrics_addresses.split(',') | zip(etcd_hosts) %}
  - addresses:
      - ip: {{ etcd_metrics_address | urlsplit('hostname') }}
        targetRef:
          kind: Node
          name: {{ etcd_host }}
    ports:
      - name: http-metrics
        port: {{ etcd_metrics_address | urlsplit('port') }}
        protocol: TCP
{% endfor %}
