#!/bin/bash

# jq / kustomize 

#------------------------------------------------------------------

# ex : POSTGRES_VERSION=9.6.2-alpine
# ex : HYPERAUTH_SERVER_VERSION=latest
# ex : KAFKA_VERSION=2.12-2.0.1
# ex : ZOOKEEPER_VERSION=3.4.6
# ex : HYPERAUTH_LOG_COLLECTOR_VERSION=b0.0.0.14
# ex : MAIN_MASTER_IP=192.168.6.171
# ex : MASTER_NODE_ROOT_PASSWORD=tmax@23
# ex : MASTER_NODE_ROOT_USER=root
# ex : REGISTRY=192.168.6.171:5000

#------------------------------------------------------------------

# common
POSTGRES_VERSION={POSTGRES_VERSION}
HYPERAUTH_SERVER_VERSION={HYPERAUTH_SERVER_VERSION}
KAFKA_VERSION={KAFKA_VERSION}
ZOOKEEPER_VERSION={ZOOKEEPER_VERSION}
HYPERAUTH_LOG_COLLECTOR_VERSION={HYPERAUTH_LOG_COLLECTOR_VERSION}

MAIN_MASTER_IP={MAIN_MASTER_IP}
MASTER_NODE_ROOT_PASSWORD={MASTER_NODE_ROOT_PASSWORD}
MASTER_NODE_ROOT_USER={MASTER_NODE_ROOT_USER}
REGISTRY={REGISTRY}
