apiVersion: kubeadm.k8s.io/v1alpha2
kind: NodeConfiguration
clusterName: {{ cluster_name }}
discoveryFile: ""
caCertPath: {{ kube_config_dir }}/ssl/ca.crt
discoveryToken: {{ kubeadm_tlsbootstraptoken }}
tlsBootstrapToken: {{ kubeadm_tlsbootstraptoken }}
token: {{ kubeadm_tlsbootstraptoken }}
discoveryTokenAPIServers:
- {{ kubeadm_discovery_address | replace("https://", "")}}
discoveryTokenUnsafeSkipCAVerification: true
nodeRegistration:
  criSocket: /var/run/dockershim.sock
  name: {{ inventory_hostname  }}
