---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: registry-pvc
  namespace: {{ registry_namespace }}
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  accessModes:
    - {{ registry_storage_access_mode }}
  storageClassName: {{ registry_storage_class }}
  resources:
    requests:
      storage: {{ registry_disk_size }}
