kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: psp:registry-proxy
  namespace: {{ registry_namespace }}
subjects:
  - kind: ServiceAccount
    name: registry-proxy
    namespace: {{ registry_namespace }}
roleRef:
  kind: ClusterRole
  name: psp:registry-proxy
  apiGroup: rbac.authorization.k8s.io
