---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: psp:registry
  namespace: {{ registry_namespace }}
rules:
  - apiGroups:
    - policy
    resourceNames:
    - registry
    resources:
    - podsecuritypolicies
    verbs:
    - use
