apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: registry
  namespace: {{ registry_namespace }}
{% if registry_ingress_annotations %}
  annotations:
    {{ registry_ingress_annotations | to_nice_yaml(indent=2, width=1337) | indent(width=4) }}
{% endif %}
spec:
{% if registry_ingress_tls_secret %}
  tls:
  - hosts:
      - {{ registry_ingress_host }}
    secretName: {{ registry_ingress_tls_secret }}
{% endif %}
  rules:
  - host: {{ registry_ingress_host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: registry
            port:
              number: {{ registry_port }}
