---
apiVersion: apiserver.config.k8s.io/{{ 'v1alpha1' if kube_version is version('v1.30.0', '<') else 'v1beta1' if kube_version is version('v1.32.0', '<') else 'v1' }}
kind: AuthorizationConfiguration
authorizers:
{{ kube_apiserver_authorization_config_authorizers | to_nice_yaml(indent=2, sort_keys=false) }}
