{% if kube_major_version == "v1.26" %}
apiVersion: apiserver.config.k8s.io/v1alpha1
{% else %}
apiVersion: apiserver.config.k8s.io/v1beta1
{% endif %}
kind: TracingConfiguration
endpoint: {{ kube_apiserver_tracing_endpoint }}
samplingRatePerMillion: {{ kube_apiserver_tracing_sampling_rate_per_million }}