[Unit]
Description=Timer to renew K8S control plane certificates

[Timer]
OnCalendar={{ auto_renew_certificates_systemd_calendar }}
RandomizedDelaySec={{ 10 * (groups['kube_control_plane'] | length) }}min
FixedRandomDelay=yes
Persistent=yes

[Install]
WantedBy=multi-user.target
