#jinja2: trim_blocks: True, lstrip_blocks: True
# yamllint disable-file
---

# Create layer2 configuration
{% for entry in metallb_config.layer2 %}

---
# L2 Configuration
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: "{{ entry }}"
  namespace: metallb-system
spec:
  ipAddressPools:
  - "{{ entry }}"

{% endfor %}
