apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  labels:
    l2.ipaddress-pool.metallb.io: default-pool
  name: {{ metallb_pool_name }}
  namespace: metallb-system
spec:
  addresses:
{% for ip_range in metallb_ip_range %}
  - {{ ip_range }}
{% endfor %}
{% if metallb_auto_assign == true %}
  autoAssign: true
{% endif %}
{% if metallb_avoid_buggy_ips == true %}
  avoidBuggyIPs: true
{% endif %}

