controller:
  logLevel: {{ metallb_controller_log_level | default(metallb_log_level) }}
  nodeSelector:
    {{ metallb_controller_nodeselector | to_nice_yaml(indent=2) | indent(2) }}

speaker:
  enabled: {{ metallb_speaker_enabled }}
  nodeSelector:
    {{ metallb_speaker_nodeselector | to_nice_yaml(indent=2) | indent(2) }}
  logLevel: {{ metallb_speaker_log_level | default(metallb_log_level) }}
  tolerateMaster: {{ metallb_speaker_tolerate_master }}
  toleratations:
    {{ metallb_speaker_tolerations | to_nice_yaml(indent=2) | indent(4) }}

  memberlist:
    mlBindPort: {{ metallb_speaker_memberlist_port | default(metallb_memberlist_port) }}

prometheus:
  metricsPort: {{ metallb_prometheus_metrics_port | default(metallb_port) }}

loadBalancerClass: "{{ metallb_loadbalancer_class }}"
