---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nfs-client-provisioner
  labels:
    app: nfs-client-provisioner
  namespace: {{ nfs_namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nfs-client-provisioner
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: >-
            {{ nfs_external_provisioner_image_repo }}:{{ nfs_external_provisioner_image_tag }}
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: k8s-sigs.io/nfs-subdir-external-provisioner
            - name: NFS_SERVER
              value: {{ nfs_server }}
            - name: NFS_PATH
              value: {{ nfs_path }}
      volumes:
        - name: nfs-client-root
          nfs:
            server: {{ nfs_server }}
            path: {{ nfs_path }}
