---
kind: DaemonSet
apiVersion: apps/v1
metadata:
{% if container_manager_types | length >= 2 %}
  name: kube-multus-{{ container_manager }}-{{ image_arch }}
{% else %}
  name: kube-multus-ds-{{ image_arch }}
{% endif %}
  namespace: kube-system
  labels:
    tier: node
    app: multus
spec:
  selector:
    matchLabels:
      tier: node
      app: multus
  template:
    metadata:
      labels:
        tier: node
        app: multus
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      priorityClassName: system-node-critical
      nodeSelector:
        kubernetes.io/arch: {{ image_arch }}
{% if container_manager_types | length >= 2 %}
        kubespray.io/container_manager: {{ container_manager }}
{% endif %}
      tolerations:
      - operator: Exists
      serviceAccountName: multus
      initContainers:
      - name: install-multus-binary
        image: {{ multus_image_repo }}:{{ multus_image_tag }}
        command: ["/install_multus"]
        args:
        - "--type"
        - "thin"
        resources:
          requests:
            cpu: "10m"
            memory: "15Mi"
        securityContext:
          privileged: true
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
        - name: cnibin
          mountPath: {{ multus_cni_bin_dir }}
          mountPropagation: Bidirectional
      containers:
      - name: kube-multus
        image: {{ multus_image_repo }}:{{ multus_image_tag }}
        command: ["/thin_entrypoint"]
        args:
        - "--cni-conf-dir={{ multus_cni_conf_dir }}"
        - "--multus-autoconfig-dir={{ multus_cni_conf_dir }}"
        - "--cni-bin-dir={{ multus_cni_bin_dir }}"
        - "--multus-conf-file={{ multus_conf_file }}"
        - "--multus-kubeconfig-file-host={{ multus_kubeconfig_file_host }}"
        - "--namespace-isolation={{ multus_namespace_isolation | string | lower }}"
        resources:
          requests:
            cpu: "100m"
            memory: "90Mi"
          limits:
            cpu: "100m"
            memory: "90Mi"
        securityContext:
          privileged: true
{% if container_manager == 'crio' %}
          capabilities:
            add: ["SYS_ADMIN"]
{% endif %}
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
{% if container_manager == 'crio' %}
        - name: run
          mountPath: {{ multus_cni_run_dir }}
          mountPropagation: HostToContainer
{% endif %}
        - name: cni
          mountPath: {{ multus_cni_conf_dir }}
        - name: cnibin
          mountPath: {{ multus_cni_bin_dir }}
      - name: token-reload
        image: "busybox:1.36"
        command:
        - "/bin/sh"
        args:
        - "-c"
        - |
            set -e
            set -o pipefail

            function exitonsigterm() {
              echo "Trapped sigterm, exiting."
              exit 0
            }
            trap exitonsigterm SIGTERM

            function log() {
              echo "$(date +%Y-%m-%dT%H:%M:%S%z) $1"
            }

            function info() {
              log "INFO:  $1"
            }

            function warn() {
              log "WARN:  $1"
            }

            function error() {
              log "ERROR: $1"
            }

            CNI_CONF_DIR="{{ multus_cni_conf_dir }}"
            CNI_CONF_MULTUS_DIR="$CNI_CONF_DIR/multus.d"
            MULTUS_KUBECONFIG="$CNI_CONF_MULTUS_DIR/multus.kubeconfig"
            MULTUS_TEMP_KUBECONFIG="/tmp/multus.kubeconfig"

            SERVICE_ACCOUNT_DIR="/var/run/secrets/kubernetes.io/serviceaccount"
            SERVICE_ACCOUNT_TOKEN_FILE="$SERVICE_ACCOUNT_DIR/token"
            KUBE_CA_FILE="${KUBE_CA_FILE:-$SERVICE_ACCOUNT_DIR/ca.crt}"

            if [ -z ${KUBERNETES_SERVICE_HOST} ]; then
              error "KUBERNETES_SERVICE_HOST not set"; exit 1;
            fi
            if [ -z ${KUBERNETES_SERVICE_PORT} ]; then
              error "KUBERNETES_SERVICE_PORT not set"; exit 1;
            fi

            function generateTempKubeConfig {
              # Kubeconfig generation logic should be identical to:
              #   https://github.com/k8snetworkplumbingwg/multus-cni/blob/master/images/entrypoint.sh
              touch $MULTUS_TEMP_KUBECONFIG
              chmod ${KUBECONFIG_MODE:-600} $MULTUS_TEMP_KUBECONFIG
              cat > $MULTUS_TEMP_KUBECONFIG <<EOF
            # Kubeconfig file for Multus CNI plugin.
            apiVersion: v1
            kind: Config
            clusters:
            - name: local
              cluster:
                server: ${KUBERNETES_SERVICE_PROTOCOL:-https}://${KUBERNETES_SERVICE_HOST}:${KUBERNETES_SERVICE_PORT}
                $TLS_CFG
            users:
            - name: multus
              user:
                token: "${SERVICE_ACCOUNT_TOKEN}"
            contexts:
            - name: multus-context
              context:
                cluster: local
                user: multus
            current-context: multus-context
            EOF
            }

            function reloadToken {
              if [ -f "$SERVICE_ACCOUNT_TOKEN_FILE" ]; then
                #
                if [ "$SKIP_TLS_VERIFY" == "true" ]; then
                  TLS_CFG="insecure-skip-tls-verify: true"
                elif [ -f "$KUBE_CA_FILE" ]; then
                  TLS_CFG="certificate-authority-data: $(cat $KUBE_CA_FILE | base64 | tr -d '\n')"
                fi
                SERVICE_ACCOUNT_TOKEN=$(cat $SERVICE_ACCOUNT_TOKEN_FILE)
                generateTempKubeConfig
                #
                KUBECONFIG_SHA256SUM=$(sha256sum $MULTUS_KUBECONFIG | awk '{print $1}')
                TEMP_KUBECONFIG_SHA256SUM=$(sha256sum $MULTUS_TEMP_KUBECONFIG | awk '{print $1}')
                if [ "$KUBECONFIG_SHA256SUM" != "$TEMP_KUBECONFIG_SHA256SUM" ]; then
                  mkdir -p $CNI_CONF_MULTUS_DIR
                  TEMP_TARGET="${CNI_CONF_MULTUS_DIR}/.multus_kubeconfig.$$"
                  cp $MULTUS_TEMP_KUBECONFIG $TEMP_TARGET
                  mv -f $TEMP_TARGET $MULTUS_KUBECONFIG
                  info "Updated $MULTUS_KUBECONFIG ($TEMP_KUBECONFIG_SHA256SUM) (was $KUBECONFIG_SHA256SUM)"
                else
                  info "Same $MULTUS_KUBECONFIG ($KUBECONFIG_SHA256SUM)"
                fi
                #
              else
                warn "Doesn't look like we're running in a kubernetes environment (missing $SERVICE_ACCOUNT_TOKEN_FILE)"
              fi
            }

            while true; do
              sleep 60
              reloadToken
            done
        resources:
          requests:
            cpu: "50m"
            memory: "50Mi"
          limits:
            cpu: "50m"
            memory: "50Mi"
        volumeMounts:
        - name: cni
          mountPath: {{ multus_cni_conf_dir }}
      volumes:
{% if container_manager == 'crio' %}
      - name: run
        hostPath:
          path: {{ multus_cni_run_dir_host }}
{% endif %}
      - name: cni
        hostPath:
          path: {{ multus_cni_conf_dir_host }}
      - name: cnibin
        hostPath:
          path: {{ multus_cni_bin_dir_host }}
