apiVersion: v1
kind: ServiceAccount
metadata:
  name: nfs-client-provisioner
  namespace: {{ nfs_client_provisioner_namespace }}
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: nfs-client-provisioner
  namespace: {{ nfs_client_provisioner_namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: quay.io/external_storage/nfs-client-provisioner:latest
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: {{ nfs_client_provisioner_name }}
            - name: NFS_SERVER
              value: {{ nfs_client_provisioner_server }}
            - name: NFS_PATH
              value: {{ nfs_client_provisioner_path }}
      volumes:
        - name: nfs-client-root
          nfs:
            server: {{ nfs_client_provisioner_server }} 
            path: {{ nfs_client_provisioner_path }} 
