[Global]
zone={{ aws_zone|d("") }}
vpc={{ aws_vpc|d("") }}
subnetId={{ aws_subnet_id|d("") }}
routeTableId={{ aws_route_table_id|d("") }}
kubernetesClusterTag={{ aws_kubernetes_cluster_tag|d("") }}
kubernetesClusterId={{ aws_kubernetes_cluster_id|d("") }}
disableSecurityGroupIngress={{ aws_disable_security_group_ingress|d("false") }}
elbSecurityGroup={{ aws_elb_security_group|d("") }}
disableStrictZoneCheck={{ aws_disable_strict_zone_check|d("false") }}
