{
  "name": "calico-k8s-network",
  "type": "calico",
  "log_level": "info",
  "ipam": {
    "type": "calico-ipam"
  },
  "kubernetes": {
    "kubeconfig": "{{ kube_config_dir }}/node-kubeconfig.yaml"
  }
}
