{
  "name": "canal-k8s-network",
  "type": "flannel",
  "delegate": {
    "type": "calico",
    "etcd_endpoints": "{{ etcd_access_endpoint }}",
    "log_level": "info",
    "policy": {
      "type": "k8s"
    },
    "kubernetes": {
      "kubeconfig": "{{ kube_config_dir }}/node-kubeconfig.yaml"
    }
  }
}
