#!/bin/bash
{{ docker_bin_dir }}/docker run \
  --net=host \
  --pid=host \
  --privileged \
  --name=kubelet \
  --restart=on-failure:5 \
  --memory={{ kubelet_memory_limit|regex_replace('Mi', 'M') }} \
  --cpu-shares={{ kubelet_cpu_limit|regex_replace('m', '')  }} \
  -v /dev:/dev:rw \
  -v /etc/cni:/etc/cni:ro \
  -v /opt/cni:/opt/cni:ro \
  -v /etc/ssl:/etc/ssl:ro \
  -v /etc/resolv.conf:/etc/resolv.conf \
  {% for dir in ssl_ca_dirs -%}
  -v {{ dir }}:{{ dir }}:ro \
  {% endfor -%}
  {% if kubelet_load_modules -%}
  -v /lib/modules:/lib/modules:ro \
  {% endif -%}
  -v /sys:/sys:ro \
  -v {{ docker_daemon_graph }}:{{ docker_daemon_graph }}:rw \
  -v /var/log:/var/log:rw \
  -v /var/lib/kubelet:/var/lib/kubelet:shared \
  -v /var/lib/cni:/var/lib/cni:shared \
  -v /var/run:/var/run:rw \
  -v {{kube_config_dir}}:{{kube_config_dir}}:ro \
  -v /etc/os-release:/etc/os-release:ro \
{% if local_volume_provisioner_enabled == true %}
  -v {{ local_volume_provisioner_base_dir }}:{{ local_volume_provisioner_base_dir }}:shared \
{% endif %}
  {{ hyperkube_image_repo }}:{{ hyperkube_image_tag}} \
  ./hyperkube kubelet \
  "$@"
