[Global]
user = "{{ vsphere_user }}"
password = "{{ vsphere_password }}"
port = {{ vsphere_vcenter_port }}
insecure-flag = {{ vsphere_insecure }}

{% if kube_version | version_compare('v1.9.2', '>=') %}
datacenters = "{{ vsphere_datacenter }}"
{% else %}
datastore = "{{ vsphere_datastore }}"
datacenter = "{{ vsphere_datacenter }}"
working-dir = "{{ vsphere_working_dir }}"
server = "{{ vsphere_vcenter_ip }}"
{% if vsphere_vm_uuid is defined and vsphere_vm_uuid != ""  %}
vm-uuid = "{{ vsphere_vm_uuid }}"
{% endif %}
{% endif %}

{% if kube_version | version_compare('v1.9.2', '>=') %}

[VirtualCenter "{{ vsphere_vcenter_ip }}"]


[Workspace]
server = "{{ vsphere_vcenter_ip }}"
datacenter = "{{ vsphere_datacenter }}"
folder = "{{ vsphere_working_dir }}"
default-datastore = "{{ vsphere_datastore }}"
{% if vsphere_resource_pool is defined and vsphere_resource_pool != ""  %}
resourcepool-path = "{{ vsphere_resource_pool }}"
{% endif %}
{% endif %}


[Disk]
scsicontrollertype = {{ vsphere_scsi_controller_type }}

{% if vsphere_public_network is defined and vsphere_public_network != ""  %}
[Network]
public-network = {{ vsphere_public_network }}
{% endif %}