---
apiVersion: v1
kind: Service
metadata:
  name: coredns{{ coredns_ordinal_suffix }}
  namespace: kube-system
  labels:
    k8s-app: kube-dns{{ coredns_ordinal_suffix }}
    kubernetes.io/name: "coredns{{ coredns_ordinal_suffix }}"
    addonmanager.kubernetes.io/mode: Reconcile
  annotations:
    prometheus.io/port: "9153"
    prometheus.io/scrape: "true"
    createdby: 'kubespray'
spec:
  selector:
    k8s-app: kube-dns{{ coredns_ordinal_suffix }}
  clusterIP: {{ clusterIP }}
  ports:
    - name: dns
      port: 53
      protocol: UDP
      targetPort: "dns"
    - name: dns-tcp
      port: 53
      protocol: TCP
      targetPort: "dns-tcp"
    - name: metrics
      port: 9153
      protocol: TCP
