---
apiVersion: v1
kind: Service
metadata:
  name: coredns{{ coredns_ordinal_suffix | default('') }}
  namespace: kube-system
  labels:
    k8s-app: coredns{{ coredns_ordinal_suffix | default('') }}
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
    kubernetes.io/name: "CoreDNS"
spec:
  selector:
    k8s-app: coredns{{ coredns_ordinal_suffix | default('') }}
  clusterIP: {{ clusterIP }}
  ports:
  - name: dns
    port: 53
    protocol: UDP
  - name: dns-tcp
    port: 53
    protocol: TCP
