apiVersion: v1
kind: ConfigMap
metadata:
  name: dns-autoscaler{{ coredns_ordinal_suffix }}
  namespace: kube-system
  labels:
    k8s-app: dns-autoscaler{{ coredns_ordinal_suffix }}
    addonmanager.kubernetes.io/mode: Reconcile
data:
  linear: '{"preventSinglePointFailure":{{ dns_prevent_single_point_failure }},"coresPerReplica":{{ dns_cores_per_replica }},"nodesPerReplica":{{ dns_nodes_per_replica }},"min":{{ dns_min_replicas }}}'