apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: etcd-metrics
  namespace: kube-system
  labels:
    k8s-app: etcd
    app.kubernetes.io/managed-by: Kubespray
    kubernetes.io/service-name: etcd-metrics
addressType: IPv4
endpoints:
{% for etcd_metrics_address, etcd_host in etcd_metrics_addresses.split(',') | zip(etcd_hosts) %}
  - addresses:
      - "{{ etcd_metrics_address | urlsplit('hostname') }}"
    conditions:
      ready: true
    nodeName: {{ etcd_host }}
    targetRef:
      kind: Node
      name: {{ etcd_host }}
{% endfor %}
ports:
  - name: http-metrics
    port: {{ etcd_metrics_port }}
    protocol: TCP
