apiVersion: v1
kind: ConfigMap
metadata:
  name: excoredns
  namespace: kube-system
data:
  Corefile: |-
    {{ excoredns_zone }}:53 {
        errors
        ready
        k8s_gateway {{ excoredns_zone }}
        cache 30
        loop
        reload
        loadbalance
    }
---
