kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: netchecker-server
  namespace: {{ netcheck_namespace }}
subjects:
  - kind: ServiceAccount
    name: netchecker-server
    namespace: {{ netcheck_namespace }}
roleRef:
  kind: ClusterRole
  name: netchecker-server
  apiGroup: rbac.authorization.k8s.io
