apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: netchecker-server
spec:
  replicas: 1
  template:
    metadata:
      name: netchecker-server
      labels:
        app: netchecker-server
      namespace: {{ netcheck_namespace }}
    spec:
      containers:
        - name: netchecker-server
          image: "{{ server_img }}"
          env:
          imagePullPolicy: {{ k8s_image_pull_policy }}
          resources:
            limits:
              cpu: {{ netchecker_server_cpu_limit }}
              memory: {{ netchecker_server_memory_limit }}
            requests:
              cpu: {{ netchecker_server_cpu_requests }}
              memory: {{ netchecker_server_memory_requests }}
          ports:
            - containerPort: 8081
              hostPort: 8081
          args:
            - "-v=5"
            - "-logtostderr"
            - "-kubeproxyinit"
            - "-endpoint=0.0.0.0:8081"
