# add this to your ~/.ssh/config to get bastion host support so you can ansibilize from your local
# machine
Host 10.7.208.*
  ProxyCommand ssh -W %h:%p ny2-bastion
  User root

Host ny2-bastion
  Hostname 10.0.3.1
  #IdentityFile ~/.ssh/private_key.pem
  ControlMaster auto
  ControlPath /tmp/%r@%h:%p
  ControlPersist 5m
  ForwardAgent yes

