---
apiVersion: v1
kind: ConfigMap
data:
  config.json: |-
    [
      {
        "clusterID": ""{{ ceph_rbd_csi_fsid }}"",
        "monitors": [
          {% for mon in ceph_rbd_csi_mons %}"{{ mon }}:6789"{% if not loop.last %},{% endif %}{% endfor %}
        ]
      }
    ]
metadata:
  name: ceph-csi-config
  namespace: {{ ceph_rbd_csi_namespace }}

---
apiVersion: v1
kind: ConfigMap
data:
  config.json: |-
    {}
metadata:
  name: ceph-csi-encryption-kms-config
  namespace: {{ ceph_rbd_csi_namespace }}

---
apiVersion: v1
kind: ConfigMap
data:
  ceph.conf: |
    [global]
    auth_cluster_required = cephx
    auth_service_required = cephx
    auth_client_required = cephx
  # keyring is a required key and its value should be empty
  keyring: |
metadata:
  name: ceph-config
  namespace: {{ ceph_rbd_csi_namespace }}
