---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: rbd-csi-provisioner-role-cfg
  namespace: "{{ ceph_rbd_csi_namespace }}"
subjects:
  - kind: ServiceAccount
    name: rbd-csi-provisioner
    namespace: "{{ ceph_rbd_csi_namespace }}"
roleRef:
  kind: Role
  name: rbd-external-provisioner-cfg
  apiGroup: rbac.authorization.k8s.io