---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ ceph_csi_rbd_secret_name }}"
  namespace: "{{ ceph_csi_namespace }}"
stringData:
  # Key values correspond to a user name and its key, as defined in the
  # ceph cluster. User ID should have required access to the 'pool'
  # specified in the storage class
  userID: "{{ ceph_csi_rbd_user }}"
  userKey: "{{ ceph_csi_rbd_user_key }}"

  # Encryption passphrase
  #encryptionPassphrase: test_passphrase
