kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: psp:registry
  namespace: {{ registry_namespace }}
subjects:
  - kind: ServiceAccount
    name: registry
    namespace: {{ registry_namespace }}
roleRef:
  kind: ClusterRole
  name: psp:registry
  apiGroup: rbac.authorization.k8s.io
