apiVersion: v1
kind: Secret
metadata:
  name: registry-secret
  namespace: {{ registry_namespace }}
type: Opaque
data:
{% if registry_htpasswd != "" %}
  htpasswd: {{ registry_htpasswd | b64encode }}
{% endif %}
