apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-config
  namespace: {{ registry_namespace }}
{% if registry_config %}
data:
  config.yml: |-
    {{ registry_config | to_yaml(indent=2, width=1337) | indent(width=4) }}
{% endif %}
