{% for host in groups['k8s-cluster']|union(groups['etcd']|union(groups['calico-rr']|default([])|unique|sort %}
{% if host != inventory_hostname %}
conn {{ host }}
        authby=rsasig
        left={{ ip  }}
        leftid=@{{ansible_hostname }}
        right={{ hostvars[host]['ip'] }}
        rightid=@{{ hostvars[host]['ansible_hostname'] }}
{{ ipsec_left.stdout }}
{{ hostvars[host]['ipsec_right']['stdout'] }}
        auto=start
        type=transport
{% endif %}
{% endfor %}
