[Unit]
Description=LibreSwan IPSEC running in ipsec-libreswan
After=network-online.target
Wants=network-online.target
[Service]
ExecStartPre={{ ipsec_modprobe_binary }}  af_key
ExecStartPre=/usr/bin/docker pull cornelius/docker-ipsec-libreswan
ExecStartPre=-/usr/bin/docker rm -f ipsec-libreswan
ExecStart=/usr/bin/docker run --privileged --net host -v /etc/ipsec.d:/etc/ipsec.d --name=ipsec-libreswan cornelius/docker-ipsec-libreswan
ExecStop=/usr/bin/docker stop ipsec-libreswan
ExecReload=/usr/bin/docker exec ipsec-libreswan systemctl reload ipsec
Restart=always
[Install]
WantedBy=network-online.target
