{
  "cniVersion": "0.4.0",
  "name": "mynet",
  "type": "macvlan",
  "master": "{{ macvlan_interface }}",
  "hairpinMode": true,
  "ipam": {
    "type": "host-local",
    "subnet": "{{ node_pod_cidr }}",
    "routes": [
      { "dst": "0.0.0.0/0" }
    ],
    "gateway": "{{ node_pod_cidr|ansible.utils.ipaddr('net')|ansible.utils.ipaddr(1)|ansible.utils.ipaddr('address') }}"
  }
}
