{% if 'grpc' in containerd_config %}
[grpc]
{% for param, value in containerd_config.grpc.items() %}
  {{ param }} = {{ value }}
{% endfor %}
{%  endif %}

{% if 'debug' in containerd_config %}
[debug]
  level = "{{ containerd_config.debug.level | default("") }}"
{%  endif %}

[plugins]
  [plugins.cri]
    systemd_cgroup = {{ containerd_use_systemd_cgroup|lower }}
{% if 'registries' in containerd_config %}
    [plugins.cri.registry]
      [plugins.cri.registry.mirrors]
{% for registry, addr in containerd_config.registries.items() %}
        [plugins.cri.registry.mirrors."{{ registry }}"]
          endpoint = ["{{ addr }}"]
{% endfor %}
{%  endif %}
