server = "https://{{ item.prefix }}"
{% for mirror in item.mirrors %}
[host."{{ mirror.host }}"]
  capabilities = ["{{ ([ mirror.capabilities ] | flatten ) | join('","') }}"]
{% if mirror.skip_verify is defined %}
  skip_verify = {{ mirror.skip_verify | default('false') | string | lower }}
{% endif %}
{% endfor %}
