# {{ ansible_managed }}
{% if use_apt_tor %}
deb tor+http://{{onion_main}}/debian jessie main
deb tor+http://{{onion_updates}}/debian jessie-updates main
deb tor+http://{{onion_updates2}}/debian-security jessie/updates main
{% if use_backports %}deb tor+http://{{onion_backports}}/debian jessie-backports main{% endif %}
{% else %}
deb http://httpredir.debian.org/debian jessie main
deb http://httpredir.debian.org/debian jessie-updates main
{% if use_backports %}deb http://httpredir.debian.org/debian jessie-backports main{% endif %}
deb http://security.debian.org jessie/updates main
{% endif %}
