[Global]
auth-url={{ openstack_auth_url }}
username={{ openstack_username }}
password={{ openstack_password }}
region={{ openstack_region }}
tenant-id={{ openstack_tenant_id }}
{% if openstack_domain_name is defined and openstack_domain_name != "" %}
domain-name={{ openstack_domain_name }}
{% endif %}
