[Global]
user = {{ vsphere_username }}
password = {{ vsphere_password }}
server = {{ vsphere_server }}
port = 443
insecure-flag = true
datacenter = {{ vsphere_datacenter }}
datastore = {{ vsphere_datastore }}
working-dir = {{ vsphere_working_dir }}
