---
# The config map is used to configure local volume discovery for Local SSDs on GCE and GKE. 
# It is a map from storage class to its mount configuration.
kind: ConfigMap
apiVersion: v1
metadata:
  name: local-volume-config
  namespace: {{ system_namespace }}
data:
  "{{ local_volume_storage_class }}": |
    {
      "hostDir": "{{ local_volume_base_dir }}",
      "mountDir": "{{ local_volume_mount_dir }}"
    }
