# The config map is used to configure local volume discovery for Local SSDs on GCE and GKE. 
# It is a map from storage class to its mount configuration.
apiVersion: v1
kind: ConfigMap
metadata:
  name: local-volume-config
  namespace: {{ system_namespace }}
data:
  storageClassMap: |
    local-storage:
      hostDir: "{{ local_volume_base_dir }}"
      mountDir: "/mnt/local-storage/"
