---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cephfs-provisioner
  namespace: {{ cephfs_provisioner_namespace }}
  labels:
    app: cephfs-provisioner
    version: {{ cephfs_provisioner_image_tag }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cephfs-provisioner
      version: {{ cephfs_provisioner_image_tag }}
  template:
    metadata:
      labels:
        app: cephfs-provisioner
        version: {{ cephfs_provisioner_image_tag }}
    spec:
      priorityClassName: {% if cephfs_provisioner_namespace == 'kube-system' %}system-cluster-critical{% else %}k8s-cluster-critical{% endif %}{{ '' }}
      serviceAccount: cephfs-provisioner
      containers:
        - name: cephfs-provisioner
          image: {{ cephfs_provisioner_image_repo }}:{{ cephfs_provisioner_image_tag }}
          imagePullPolicy: {{ k8s_image_pull_policy }}
          env:
            - name: PROVISIONER_NAME
              value: ceph.com/cephfs
          command:
            - "/usr/local/bin/cephfs-provisioner"
          args:
            - "-id=cephfs-provisioner-1"
