{% if registry_auth is defined and registry_auth|length %}
{ 
{% for reg in registry_auth %}
  "auths": {
    "{{ reg.registry }}": {
      "auth": "{{ (reg.username + ':' + reg.password) | string | b64encode }}"
    }
{% if not loop.last %}
  },
{% else %}
  }
{% endif %}
{% endfor %}
}
{% else %}
{}
{% endif %}
