{%- if (item['value'] is string) -%}
"{{ item['value'] }}"
{% elif item['value'] is sameas true or item['value'] is sameas false %}
{{ item['value'] | lower }}
{%- else -%}
{{ item['value'] }}
{%- endif -%}
