[Service]
Environment={% if crio_http_proxy is defined %}"HTTP_PROXY={{ crio_http_proxy }}"{% endif %} {% if crio_https_proxy is defined %}"HTTPS_PROXY={{ crio_https_proxy }}"{% endif %} {% if crio_no_proxy is defined %}"NO_PROXY={{ crio_no_proxy }}"{% endif %}
