[Service]
Environment={% if http_proxy is defined %}"http_proxy={{ http_proxy }}"{% endif %} {% if https_proxy is defined %}"https_proxy={{ https_proxy }}"{% endif %} {% if no_proxy is defined %}"no_proxy={{ no_proxy }}"{% endif %}
