{%- set _unqualified_registries = [] -%}
{%- for _registry in crio_registries if _registry.unqualified | default(false) -%}
{%- set _ = _unqualified_registries.append(_registry.prefix | default(_registry.location)) -%}
{%- endfor -%}
unqualified-search-registries = {{ _unqualified_registries | to_json }}
