---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ cloudstack_sc_name }}
provisioner: csi.cloudstack.apache.org
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: false
parameters:
  csi.cloudstack.apache.org/disk-offering-id: {{ cloudstack_sc_diks_offering_id }}
