apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: cinder-csi-pdb
  namespace: kube-system
spec:
{% if cinder_csi_controller_replicas is defined and cinder_csi_controller_replicas > 1 %}
  minAvailable: 1
{% else %}
  minAvailable: 0
{% endif %}
  selector:
    matchLabels:
      app: csi-cinder-controllerplugin
