apiVersion: "{{ 'storage.k8s.io/v1' if kube_version is version('v1.18.0', '>=') else 'storage.k8s.io/v1beta1' }}"
kind: CSIDriver
metadata:
  name: cinder.csi.openstack.org
spec:
  attachRequired: true
  podInfoOnMount: true
  volumeLifecycleModes:
  - Persistent
  - Ephemeral
