{
  "name":"kubernetes",
  "cniVersion": "0.2.0",
  "type":"bridge",
  "bridge":"kube-bridge",
  "isDefaultGateway":true,
{% if kube_router_support_hairpin_mode %}
  "hairpinMode":true,
{% endif %}
  "ipam": {
    "type":"host-local"
  }
}
