{
   "cniVersion":"0.3.0",
   "name":"kubernetes",
   "plugins":[
      {
         "name":"kubernetes",
         "type":"bridge",
         "bridge":"kube-bridge",
         "isDefaultGateway":true,
{% if kube_router_support_hairpin_mode %}
          "hairpinMode":true,
{% endif %}
         "ipam":{
{% if host_subnet is defined %}
            "subnet": "{{ host_subnet }}",
{% endif %}
            "type":"host-local"
         }
      },
      {
         "type":"portmap",
         "capabilities":{
            "portMappings":true
         }
      }
   ]
}
