apiVersion: v1
kind: Config
current-context: admin-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ admin_certs.results[0]['content'] }}
    server: {{ external_apiserver_endpoint }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: admin-{{ cluster_name }}
  name: admin-{{ cluster_name }}
users:
- name: admin-{{ cluster_name }}
  user:
    client-certificate-data: {{ admin_certs.results[1]['content'] }}
    client-key-data: {{ admin_certs.results[2]['content'] }}
