apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cluster-template-service-broker
  name: cluster-template-service-broker
  namespace: cluster-tsb-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-template-service-broker
  template:
    metadata:
      labels:
        app: cluster-template-service-broker
    spec:
      serviceAccountName: cluster-tsb-sa
      containers:
{% if is_this_offline is true %}
      - image: {{ registry_host }}/{{ docker_image_repo }}/{{ cluster_tsb_image_repo }}:{{ cluster_tsb_image_tag }}
{% else %}
      - image: {{ docker_image_repo }}/{{ cluster_tsb_image_repo }}:{{ cluster_tsb_image_tag }}
{% endif %}
        name: cluster-tsb
        imagePullPolicy: Always
