apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cluster-template-service-broker
  name: cluster-template-service-broker
  namespace: cluster-tsb-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-template-service-broker
  template:
    metadata:
      labels:
        app: cluster-template-service-broker
    spec:
      serviceAccountName: cluster-tsb-sa
      containers:
{% if tsb_imageRegistry is defined %}
      - image: {{ tsb_imageRegistry }}/tmaxcloudck/cluster-tsb:{{ tsb_clusterTsbVersion }}
{% else %}
      - image: tmaxcloudck/cluster-tsb:{{ tsb_clusterTsbVersion }}
{% endif %}
        name: cluster-tsb
        imagePullPolicy: Always
