apiVersion: apps/v1
kind: Deployment
metadata:
  name: template-operator
  namespace: {{ tsb_templateNamespace }}
spec:
  selector:
    matchLabels:
      name: template-operator
  replicas: 1
  template:
    metadata:
      labels:
        name: template-operator
    spec:
      serviceAccountName: template-operator
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election       
	image: {{ docker_image_repo }}/{{ template_operator_image_repo }}:{{ template_operator_image_tag }}
        imagePullPolicy: Always
        name: manager
        #resources:
        #  limits:
        #    cpu: 100m
        #    memory: 30Mi
        #  requests:
        #    cpu: 100m
        #    memory: 20Mi
      terminationGracePeriodSeconds: 10
