---
apiVersion: "apiextensions.k8s.io/v1beta1"
kind: "CustomResourceDefinition"
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: "v0.3.0"
  creationTimestamp: null
  name: "templateinstances.tmax.io"
spec:
  group: "tmax.io"
  names:
    kind: "TemplateInstance"
    listKind: "TemplateInstanceList"
    plural: "templateinstances"
    singular: "templateinstance"
  scope: "Namespaced"
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: "%tmax.io_templateinstances.yaml.spec.validation.openAPIV3Schema"
      properties:
        apiVersion:
          description: "%tmax.io_templateinstances.yaml.spec.validation.openAPIV3Schema.properties.apiVersion"
          type: "string"
        kind:
          description: "%tmax.io_templateinstances.yaml.spec.validation.openAPIV3Schema.properties.kind"
          type: "string"
        metadata:
          type: "object"
        spec:
          oneOf:
          - required:
            - "clustertemplate"
          - required:
            - "template"
          description: "%tmax.io_templateinstances.yaml.spec.validation.openAPIV3Schema.properties.spec"
          properties:
            clustertemplate:
              description: "%tmax.io_templateinstances.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.clustertemplate"
              properties:
                metadata:
                  properties:
                    name:
                      type: "string"
                  type: "object"
                objects:
                  items:
                    type: "object"
                  type: "array"
                parameters:
                  items:
                    properties:
                      description:
                        type: "string"
                      displayName:
                        type: "string"
                      name:
                        type: "string"
                      required:
                        type: "boolean"
                      value:
                        anyOf:
                        - type: "integer"
                        - type: "string"
                        x-kubernetes-int-or-string: true
                      valueType:
                        enum:
                        - "string"
                        - "number"
                        type: "string"
                    required:
                    - "name"
                    type: "object"
                  type: "array"
              type: "object"
            template:
              description: "%tmax.io_templateinstances.yaml.spec.validation.openAPIV3Schema.properties.spec.properties.template"
              properties:
                metadata:
                  properties:
                    name:
                      type: "string"
                  type: "object"
                objects:
                  items:
                    type: "object"
                  type: "array"
                parameters:
                  items:
                    properties:
                      description:
                        type: "string"
                      displayName:
                        type: "string"
                      name:
                        type: "string"
                      required:
                        type: "boolean"
                      value:
                        anyOf:
                        - type: "integer"
                        - type: "string"
                        x-kubernetes-int-or-string: true
                      valueType:
                        enum:
                        - "string"
                        - "number"
                        type: "string"
                    required:
                    - "name"
                    type: "object"
                  type: "array"
              type: "object"
          type: "object"
        status:
          description: "%tmax.io_templateinstances.yaml.spec.validation.openAPIV3Schema.properties.status"
          properties:
            conditions:
              description: "%tmax.io_templateinstances.yaml.spec.validation.openAPIV3Schema.properties.status.properties.conditions"
              items:
                properties:
                  lastTransitionTime:
                    format: "date-time"
                    type: "string"
                  message:
                    type: "string"
                  reason:
                    type: "string"
                  status:
                    type: "string"
                  type:
                    type: "string"
                required:
                - "type"
                type: "object"
              type: "array"
            objects:
              items:
                properties:
                  ref:
                    properties:
                      apiVersion:
                        type: "string"
                      fieldPath:
                        type: "string"
                      kind:
                        type: "string"
                      name:
                        type: "string"
                      namespace:
                        type: "string"
                      resourceVersion:
                        type: "string"
                      uid:
                        type: "string"
                    type: "object"
                required:
                - "ref"
                type: "object"
              type: "array"
          type: "object"
      type: "object"
  version: "v1"
  versions:
  - name: "v1"
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
