apiVersion: servicecatalog.k8s.io/v1beta1
kind: ServiceBroker
metadata:
  name: hyperbroker5
  namespace: {{ tsb_tsbNamespace }}
spec:
  url: 'http://template-service-broker.{{ tsb_tsbNamespace }}.svc.cluster.local:80'
