apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: template-service-broker
  name: template-service-broker
  namespace: {{ tsb_tsbNamespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: template-service-broker
  template:
    metadata:
      labels:
        app: template-service-broker
    spec:
      serviceAccountName: tsb-sa
      containers:
{% if tsb_imageRegistry is defined %}
      - image: {{ tsb_imageRegistry }}/tmaxcloudck/tsb:{{ tsb_tsbVersion }}
{% else %}
      - image: tmaxcloudck/tsb:{{ tsb_tsbVersion }}
{% endif %}
        name: tsb
        imagePullPolicy: Always
