apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: template-service-broker
  name: template-service-broker
  namespace: {{ tsb_tsbNamespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: template-service-broker
  template:
    metadata:
      labels:
        app: template-service-broker
    spec:
      serviceAccountName: tsb-sa
      containers:
{% if is_this_offline is true %}
      - image: {{ registry_host }}/{{ docker_image_repo }}/{{ tsb_image_repo }}:{{ tsb_image_tag }}
{% else %}
      - image: {{ docker_image_repo }}/{{ tsb_image_repo }}:{{ tsb_image_tag }}
{% endif %}
        name: tsb
        imagePullPolicy: Always
