{% for cbgppeerconfig in cilium_bgp_peer_configs %}
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumBGPPeerConfig
metadata:
  name: "{{ cbgppeerconfig.name }}"
spec:
  {{ cbgppeerconfig.spec | to_yaml | indent(2) }}
{% endfor %}
