{% for cconfig in cilium_bgp_cluster_configs %}
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumBGPClusterConfig
metadata:
  name: "{{ cconfig.name }}"
spec:
  {{ cconfig.spec | to_yaml | indent(2) }}
{% endfor %}
