{% for cbgpadvert in cilium_bgp_advertisements %}
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumBGPAdvertisement
metadata:
  name: "{{ cbgpadvert.name }}"
{% if cbgpadvert.labels %}
  labels: {{ cbgpadvert.labels | to_yaml }}
{% endif %}
spec:
  {{ cbgpadvert.spec | to_yaml | indent(4) }}
{% endfor %}
