{% for cilium_bgp_node_config_override in cilium_bgp_node_config_overrides %}
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumBGPNodeConfigOverride
metadata:
  name: "{{ cilium_bgp_node_config_override.name }}"
spec:
  {{ cilium_bgp_node_config_override.spec | to_yaml | indent(2) }}
{% endfor %}
