{% for cilium_bgp_peer_config in cilium_bgp_peer_configs %}
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumBGPPeerConfig
metadata:
  name: "{{ cilium_bgp_peer_config.name }}"
spec:
  {{ cilium_bgp_peer_config.spec | to_yaml | indent(2) }}
{% endfor %}
