{% for cilium_loadbalancer_ip_pool in cilium_loadbalancer_ip_pools %}
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "{{ cilium_loadbalancer_ip_pool.name }}"
spec:
  blocks:
{% for cblock in cilium_loadbalancer_ip_pool.cidrs %}
  - cidr: "{{ cblock }}"
{% endfor %}
{% endfor %}
