[Unit]
Description=calicoctl node
After=etcd2.service

[Service]
EnvironmentFile=/etc/network-environment
User=root
PermissionsStartOnly=true
{%    if peer_with_router|default(false) %}
ExecStart={{ bin_dir }}/calicoctl node --kubernetes --ip=${DEFAULT_IPV4} --as={{ local_as }}
{%     else %}
ExecStart={{ bin_dir }}/calicoctl node --kubernetes --ip=${DEFAULT_IPV4}
{%     endif %}

RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
