---

{% if kube_vip_cloud_provider_ip_pools is defined and kube_vip_cloud_provider_ip_pools | length > 0 %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubevip
  namespace: kube-system
data:
{% for pool_name, pool in kube_vip_cloud_provider_ip_pools.items() %}
  {{ pool_name }}: {{ pool }}
{% endfor %}
{% endif %}