[all]
{% for instance in vms.results %}
{{ test_name }}-i-{{ loop.index }} ansible_ssh_host={{instance.stdout}}
{% endfor %}

{% if mode is defined and mode in ["separate", "separate-scale"] %}
[kube-master]
{{ test_name }}-i-1

[kube-node]
{{ test_name }}-i-2

[etcd]
{{ test_name }}-i-3
{% elif mode is defined and mode in ["ha", "ha-scale"] %}
[kube-master]
{{ test_name }}-i-1
{{ test_name }}-i-2

[kube-node]
{{ test_name }}-i-3

[etcd]
{{ test_name }}-i-1
{{ test_name }}-i-2
{{ test_name }}-i-3
{% elif mode == "default" %}
[kube-master]
{{ test_name }}-i-1

[kube-node]
{{ test_name }}-i-2

[etcd]
{{ test_name }}-i-1
{% elif mode == "aio" %}
[kube-master]
{{ test_name }}-i-1

[kube-node]
{{ test_name }}-i-1

[etcd]
{{ test_name }}-i-1

[vault]
{{ test_name }}-i-1
{% endif %}

[k8s-cluster:children]
kube-node
kube-master

[fake_hosts]
