{
  "tenantId": "{{ azure_tenant_id }}",
  "subscriptionId": "{{ azure_subscription_id }}",
  "aadClientId": "{{ azure_aad_client_id }}",
  "aadClientSecret": "{{ azure_aad_client_secret }}",
  "resourceGroup": "{{ azure_resource_group }}",
  "location": "{{ azure_location }}",
  "subnetName": "{{ azure_subnet_name }}",
  "securityGroupName": "{{ azure_security_group_name }}",
  "vnetName": "{{ azure_vnet_name }}",
  "vnetResourceGroup": "{{ azure_vnet_resource_group }}",
  "routeTableName": "{{ azure_route_table_name }}"
}
