{% for class in snapshot_classes %}
---
kind: VolumeSnapshotClass
apiVersion: snapshot.storage.k8s.io/v1beta1
metadata:
  name: "{{ class.name }}"
  annotations:
    storageclass.kubernetes.io/is-default-class: "{{ class.is_default | default(false) | ternary("true","false") }}"
driver: cinder.csi.openstack.org
deletionPolicy: "{{ class.deletionPolicy | default("Delete") }}"
parameters:
  force-create: "{{ class.force_create }}"
{% endfor %}
