---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ rbd_provisioner_storage_class }}
provisioner: ceph.com/rbd
reclaimPolicy: {{ rbd_provisioner_reclaim_policy }}
parameters:
  monitors: {{ rbd_provisioner_monitors }}
  adminId: {{ rbd_provisioner_admin_id }}
  adminSecretNamespace: {{ rbd_provisioner_namespace }}
  adminSecretName: {{ rbd_provisioner_secret_name }}
  pool: {{ rbd_provisioner_pool }}
  userId: {{ rbd_provisioner_user_id }}
  userSecretNamespace: {{ rbd_provisioner_user_secret_namespace }}
  userSecretName: {{ rbd_provisioner_user_secret_name }}
  fsType: "{{ rbd_provisioner_fs_type }}"
  imageFormat: "{{ rbd_provisioner_image_format }}"
  imageFeatures: {{ rbd_provisioner_image_features }}
