---
kind: Secret
apiVersion: v1
metadata:
  name: {{ rbd_provisioner_secret_name }}
  namespace: {{ rbd_provisioner_namespace }}
type: Opaque
data:
  secret: {{ rbd_provisioner_secret | b64encode }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ rbd_provisioner_user_secret_name }}
  namespace: {{ rbd_provisioner_user_secret_namespace }}
type: Opaque
data:
  key: {{ rbd_provisioner_user_secret | b64encode }}
