apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.pem
    server: {{ kube_apiserver_endpoint }}
users:
- name: kube-scheduler
  user:
    client-certificate: {{ kube_cert_dir }}/kube-scheduler.pem
    client-key: {{ kube_cert_dir }}/kube-scheduler-key.pem
contexts:
- context:
    cluster: local
    user: kube-scheduler
  name: kube-scheduler-{{ cluster_name }}
current-context: kube-scheduler-{{ cluster_name }}
