apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.pem
    server: {{ kube_apiserver_endpoint }}
users:
- name: kube-controller-manager
  user:
    client-certificate: {{ kube_cert_dir }}/kube-controller-manager.pem
    client-key: {{ kube_cert_dir }}/kube-controller-manager-key.pem
contexts:
- context:
    cluster: local
    user: kube-controller-manager
  name: kube-controller-manager-{{ cluster_name }}
current-context: kube-controller-manager-{{ cluster_name }}
